<span class="header-top-button" [hidden]="isLoggedIn">
  <a (click)="openSignInWindow()">
    Sign-In / Sing-Up
  </a>    
</span>

<span  style="color: white" [hidden]="!isLoggedIn">
  <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="user-ico">
    <i class="material-icons">perm_identity</i> +91 - {{user.phoneNumber}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink='/profile'> Profile</a>
    <a class="dropdown-item" (click)="signOut()">Log out</a>
  </div>
</span>

<div class="popup log-in-popup" id="log-in-popup" data-popup="popup-1" style="z-index: 99;">
    <div class="popup-content">
        <a class="popup-close" data-popup-close="popup-1" href="#"> x </a>
        <div class="row">
            <div class="col-md-5 d-none d-md-block">
                <img src="../../assets/img/rhntr-home.jpg" />
            </div>
            <div class="col-md-7">
                <ul class="nav nav-tabs" >
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Sign-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab" (click)="resetSignUpForm()">Sign-Up</a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                        <form>
                            <!-- Material input -->

                            <div class="md-form form-sm">
                                <input type="text" id="emailOrPhoneNo" class="form-control " name="emailOrPhoneNo" [(ngModel)]="emailOrPhoneNo" #emailOrPhoneNoRef="ngModel" required >
                                <label for="emailOrPhoneNo" >Registered Mobile Number or Email ID</label>
                                <span class="errors" id="emailOrPhoneNoError">Invalid Email ID or Mobile Number</span>
                            </div>
        
                            <!-- Material input password -->
                            <div class="md-form form-sm">
                                <input type="password" id="login-passcode" class="form-control form-control-sm" 
                                        name="passcode" [(ngModel)]="passcode" #passcodeRef="ngModel" required>
                                <label for="passcode">Password</label>
                            </div>
                            <div class="my-3 col-md-12 px-0 text-left">
                                <button class="btn  btn-primary " (click)="processLogInRequest()" type="submit">Log in</button>
                                <p class="right"><a href="#" class="form-check-label">Forgot Password</a></p>
                            </div>
                        </form>
                    </div>
                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel2" role="tabpanel">
                        <form>
                            <div class="md-form form-sm">
                                <input type="text" id="phoneNo" class="form-control"
                                        name="phoneNo" [(ngModel)]="user.phoneNumber" #phoneNo>
                                <label for="phoneNo">Phone number</label>
                                <span id="phoneNumberError" class="errors"></span>
                            </div>

                            <div class="md-form form-sm">
                                <input type="email" id="emailId" class="form-control"
                                        name="emailId" [(ngModel)]="user.emailId">
                                <label for="emailId">Email id</label>
                                <span id="emailIdError" class="errors"></span>
                            </div>

                            <div class="md-form form-sm">
                                <input type="password" id="passcode" class="form-control"
                                        name="passcode" [(ngModel)]="user.passcode">
                                <label for="passcode">Password</label>
                                <span id="passcodeError" class="errors"></span>
                            </div>

                            <div class="md-form form-sm mb-3">
                                <input type="password" id="confirmPasscode" class="form-control"
                                        name="confirmPasscode" [(ngModel)]="user.confirmPasscode">
                                <label for="confirmPasscode">Confirm password</label>
                                <span class="errors" id="cpCompare">confirm password does't match</span>
                                <span id="confirmPasscodeError" class="errors"></span>
                            </div>

                            <span id="errMessages" class="errors"></span>

                            <div class="text-center">
                               <!-- Material unchecked -->
                               <div class="form-check left mb-2">
                                <input type="checkbox" class="form-check-input filled-in" id="filledInCheckbox" checked>
                                <label class="form-check-label primary-text" for="filledInCheckbox">Terms and Conditions</label>
                            </div>
                            <button type="submit" class="btn btn-primary right mb-5 mt-sm-0" (click)="registerUser()">
                                Register
                            </button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>