
/** Local css properties for Sing-In and Sing-Up form */
.log-in-popup .popup-content    {
    padding: 0px;
    width: 100%;
    max-width:750px;
}

.log-in-popup .popup-content img {
    width: 100%;
    height: 100%;
    min-height: 455px;
}

.log-in-popup .popup-content form   {
    padding: 5px 10%;
}

.chip {

    background-color: #4c2df794;
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;

    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 1px rgb(174, 132, 207);
}

.chip span {
    color: #fff;
    padding-left: 10px;
    font-weight: 800;
}
.chip img, .chip-md img{
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: #fff;
}
.user-ico{position: relative;top:-3px;font-weight: 600;font-size: 14px;color: #fff !important;}
.user-ico i.material-icons{    position: relative;    top: 5px;    background: #94888578;    padding: 2px;    font-size: 20px;    border-radius: 2px;}
.user-ico:hover,.user-ico:active,.user-ico:focus{background: transparent;}
.dropdown-item{background: #fff;}
.dropdown-menu.show{top:6px !important;}
.dropdown-menu.show {
    display: inline-table;box-shadow: 0 1px 6px rgba(32,33,36,.28);
    -webkit-box-shadow: 0 1px 6px rgba(32,33,36,.28);
    -moz-box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
.dropdown-item:hover{background: rgba(255, 195, 0, 0.09);    color: #ff5733;}