<div class="header-main mainmenu">
  <nav class="sticky">
    <div class="container">
      <div class="headerhold">
        <a class="navbar-brand left  col-auto mr-0" routerLink="/">
          <img src="../assets/img/rhntr.jpg" style="width:200px; height: 40px;">
        </a>
        <div class="navigationhold right">
          <ul class="main-menu">
            <li class="dropdown active">
              <a class="nav-link" routerLink="/">Home</a>
              <!-- <a class="nav-link " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
              </a>
                 <div class="dropdown-menu">
                <a class="dropdown-item active" href="index.html">Home V1</a>
                <a class="dropdown-item" href="index-2.html">Home V2</a>
                <a class="dropdown-item" href="index-3.html">Home V3</a>
              </div> -->
            </li>
            <li class=" nav-item">
              <a class="nav-link" routerLink="/">Pricing plan</a>
              <!-- <div class="dropdown-menu">
                <a class="dropdown-item" href="listing.html">Simple Listing</a>
                <a class="dropdown-item" href="grid-listing.html">Grid Listing</a>
                <a class="dropdown-item" href="listing-map.html">List with Google Map</a>
              </div> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/post-property">Post Property</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Contact US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-us">About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End NAV -->