<ng-search-engine class="data-align-center" (onSearchInputsChanged)="onSearchInputChangedListener($event)">
</ng-search-engine>
<div class="parenthold grey-bg pt-4 ful-height">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li>
            <a itemprop="url" href="#" title="Property for sale in Bangalore">Bangalore</a>
          </li>
          <li class="dropmenu main-locality">
            <a href="#" title="Property for sale in K R Puram">K R Puram</a>
            <ul class="dropmenu-cnt nearby-locality" style="display: none;">
              <li><a href="#" target="_blank" title="Houses and Villas in TC Palya">Houses and Villas in TC Palya</a></li>
              <li><a href="#" target="_blank" title="Houses and Villas in Anandapura">Houses and Villas in Anandapura</a></li>
              <li><a href="#" target="_blank" title="Houses and Villas in Bhattarahalli">Houses and Villas in
                  Bhattarahalli</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="Houses and Villas for sale in K R Puram">Houses and Villas in K R Puram</a>
          </li>
          <li>
            <a href="#" title="2 BHK Houses and Villas for sale in K R Puram">2 BHK</a>
          </li>
          <li itemprop="title">
            1000 Sq Feet,
            2 BHK
            Houses and Villas</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4 mt-0 mb-4">
          <div class="row">
            <div class="col-md-8">
              <h3>2 BHK House for sale</h3>
              <p class="loc-detail"><i class="material-icons">place</i>Electronics City Phase 1, Electronic City,
                Bengaluru, Karnataka, India | Land mark : ICICI ATM</p>
              <div class="property-features">
                <span>Builtup Area <b>1000 Sq Feet</b></span>
                <span>Plot Area <b>1200 Sq Feet</b></span>
                <span>Status <b>Ready To Occupy</b></span>
                <span>Property Age <b>New</b></span>
                <!-- Sqft dropdown -->

              </div>
            </div>
            <div class="col-md-4 text-right">
              <h3><i _ngcontent-c9="" aria-hidden="true" class="fa fa-inr material-icons"></i> 8,000 / Month</h3>
              <p>80,000 Deposite</p>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12 mt-3">
              <button class="btn btn-primary mb-0 ml-0" type="button">Contact owner</button>
              <a class="shortlist" href="#"> <i class="material-icons">star_border</i></a>
              <a class="shortlist" href="#"> <i class="material-icons">share</i></a>
              <small class="btn-text">1 Month ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
              <div class="card p-4 m-0">
                  <h4 class="mb-3">Property Overview</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div id="property-slider" class="owl-carousel">
                        <div class="item">
                          <img src="../assets/img/img-1.jpg">
                        </div>
                        <div class="item">
                          <img src="../assets/img/img-2.jpg">
                        </div>
                        <div class="item">
                          <img src="../assets/img/img-3.jpg">
                        </div>
                        <div class="item">
                          <img src="../assets/img/img-4.jpg">
                        </div>
                        <div class="item">
                          <img src="../assets/img/img-1.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <ul class="amenities">
                        <li><i class="tv-ico"></i>Common TV</li>
                        <li><i class="ac-ico"></i>AC</li>
                        <li><i class="cupboard-ico"></i>Cupboard</li>
                        <li><i class="bath-ico"></i>Attached Bath</li>
                        <li><i class="wifi-ico"></i>WIFI</li>
                        <li><i class="refrig-ico"></i>Refrigerator</li>
                        <li><i class="lift-ico"></i>Lift</li>
                        <li><i class="gyser-ico"></i>Gyser</li>
                        <li><i class="cooking-ico"></i>Cooking Allowed</li>
                        <li><i class="powerback-ico"></i>Power Backup</li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
              <div class="card p-3">
                  <h4 class="mb-3">About property</h4>
                  <div class="contenthold">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul>
                       <li>Fusce pulvinar neque nec consequat tempor.</li>
                       <li>Nam eu libero finibus, laoreet purus sit amet, pellentesque justo.</li>
                       <li>Nullam non sem nec turpis vehicula euismod et et sapien.</li>
                       <li>Aliquam in lacus consequat, egestas tortor sit amet, mattis ligula.</li>
                       <li>Nulla dignissim ligula pretium tincidunt suscipit.</li>
                    </ul>
                  </div>
              </div>
                      </div>
            </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3 m-0">
          <div class="form-header">
            <h4 class="mb-0">Contact owner</h4>
            <span>owner name</span>
          </div>
          <form class="text-center px-4">
            <div class="md-form form-sm">
              <input type="text" class="form-control ">
              <label>Name</label>
            </div>
            <div class="md-form form-sm">
              <input type="text" class="form-control " name="Number">
              <label for="Number">Mobile number</label>
            </div>
            <div class="md-form form-sm">
              <input type="email" class="form-control " name="Email">
              <label for="username">Email</label>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn  btn-primary  waves-effect waves-light   mt-3 mx-0">Submit</button>
            </div>           
          </form>
        </div>
      </div>
    </div>
    <!-- <div cols>
      <div class="row">
          <div class="col-md-6 ">
            <div class="card p-3">
                <div class="property-header">
                    <div class="prop-details">
                      <div class="row">
                        <div class="col-md-1">
                            <img src="../../../../assets/img/property/resale_logo_2.png">
                        </div>
                        <div class="col-md-11">
                            <div class="list-card-title">  
                                <div class="left col-md-9">
                                    <span class="header"><b> RR Paying Guest </b>for rent in 3rd block jayanagar</span>
                                    <small class="block">Near Rajeshwari high school <i class="material-icons m-ico">place</i></small>
                                </div>
                                <div class="right col-md-2 text-right">
                                    <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                                    
                                  </div>                           
                              </div>
                              <div class="list-detail my-2">
                                  <div class="block-1 big">
                                      <span>Plot area</span>
                                    <span class="block">1200 Sq.Ft</span>
                                  </div>
                                  <div class="block-1 big">
                                      <span>Security Deposit</span>
                                    <span class="block">10,000</span>
                                  </div>
                                  <div class="block-1 big">
                                      <span>Rent</span>
                                    <span class="block">4,000</span>
                                  </div>
                                  </div>
                          </div>
                      </div>                    
                      </div>

                </div>
                <h4 class="m-0">Contact owner</h4>
                <form>
                  <div class="row">
                    <div class="col">
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Name</label>
                          </div> 
                    </div>
                    <div class="col">
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Mobile </label>
                          </div> 
                      </div>
                  </div>
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Email id</label>
                          </div> 
                          <button class="btn btn-primary right mt-3">View Contact</button>
                </form>
            </div>
          </div>
        <div class="col-md-6">
          <div class="card">

          </div>
          <div class="card ">
              <div id="property-galary" class="owl-carousel owl-theme " style="opacity: 1; ">
                  <div class="item">
                    <div class="">
                      <div class="property-wrap">
                        <div class="property-item">
                          <div class="item-thumb">
                            <a class="hover-effect" href="property.html">
                              <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="">
                        <div class="property-wrap">
                          <div class="property-item">
                            <div class="item-thumb">
                              <a class="hover-effect" href="property.html">
                                <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                        <div class="">
                          <div class="property-wrap">
                            <div class="property-item">
                              <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                  <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                          <div class="">
                            <div class="property-wrap">
                              <div class="property-item">
                                <div class="item-thumb">
                                  <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                </div>
                <span class="lbl-hold"><i  class="material-icons">photo_camera</i>2/5</span>
          </div>
          <div class="card mt-3">
              <div class="col-md-12">
                <ul class="detail-list">
                  <li><a href="#overview">Overview</a></li>                  
                  <li><a href="#amenities">Amenities</a></li>
                  <li><a href="#description">Pricing</a></li>
                  <li><a href="#description">PG rules</a></li>
                </ul>
              </div>
            </div>
          <div class="parenthold" >
            <div class="card mt-3 py-3">
              <div class="">
                <div class="col-md-12">
                  <h4 >Property overview</h4>

                </div>
                <div class="col-md-12" id="overview">
                    <div class="list-detail my-2">
                        <div class="block-1">
                            <span>Tenant</span>
                          <span class="block">Ladies</span>
                        </div>
                        <div class="block-1">
                            <span>Food Service</span>
                          <span class="block">Available</span>
                        </div>
                        <div class="block-1">
                            <span>1,2,3,4,5</span>
                          <span class="block">Sharing</span>
                        </div>
                        <div class="block-1">
                            <span>EastDirection</span>
                          <span class="block">Facing</span>
                        </div>
                        <div class="block-1">
                            <span>4</span>
                          <span class="block">Floor No</span>
                        </div>
                        <div class="block-1">
                            <span>3 years</span>
                          <span class="block">Age of property</span>
                        </div>
                        
                      </div>
                  </div>
              </div>
            </div>

          </div>
          <div class="parenthold" >
              <div class="card mt-3 py-3">
                <div class="">
                  <div class="col-md-12">
                    <h4 >Amenities</h4>
  
                  </div>
                  <div class="col-md-12" id="overview">
                      <div class="list-detail my-2">
                            <label class="lbl-sm">Available Services</label>
                            <ul class="rules">
                              <li>Laundary</li>
                              <li>Room Cleaning</li>
                              <li>Warden Facility</li>
                            </ul>
                            <label class="lbl-sm mb-3">Available Amenities</label>
                            <ul class="rules amenities">
                                <li><i class="tv-ico"></i>Common TV</li>
                                <li><i class="ac-ico"></i>AC</li>
                                <li><i class="cupboard-ico"></i>Cupboard</li>
                                <li><i class="bath-ico"></i>Attached Bath</li>
                                <li><i class="wifi-ico"></i>WIFI</li>
                                <li><i class="refrig-ico"></i>Refrigerator</li>
                                <li><i class="lift-ico"></i>Lift</li>
                                <li><i class="gyser-ico"></i>Gyser</li>
                                <li><i class="cooking-ico"></i>Cooking Allowed</li>
                                <li><i class="powerback-ico"></i>Power Backup</li>
                              </ul>
                        </div>
                    </div>
                </div>
              </div>
  
            </div>
            <div class="parenthold" >
                <div class="card mt-3 py-3">
                  <div class="">
                    <div class="col-md-12">
                      <h4 >Pricing</h4>
    
                    </div>
                    <div class="col-md-12" id="overview">
                        <div class="list-detail my-2">
                            <div class="block-1">
                                <span>Security Deposit</span>
                              <span class="block">10,000</span>
                            </div>
                            <div class="block-1">
                                <span>Deposite</span>
                              <span class="block">80,000</span>
                            </div>
                            <div class="block-1">
                                <span>Negotiable                                </span>
                              <span class="block">Yes</span>
                            </div>
                            <div class="block-1 md">
                                <span>Deposit Refundable</span>
                              <span class="block">No</span>
                            </div>
                            
                            
                          </div>
                      </div>
                  </div>
                </div>
    
              </div>
              <div class="parenthold" >
                <div class="card mt-3 py-3 mb-4">
                  <div class="">
                    <div class="col-md-12">
                      <h4 >PG rules</h4>
    
                    </div>
                    <div class="col-md-12" id="overview">
                        <div class="list-detail ">
                          <ul class="rules">
                            <li class="no "> Smoking</li>
                            <li class="no">Drinking</li>
                            <li class="no"> Outside visitors</li>
                            <li class="no">Late night entry</li>
                          </ul>
                            
                            
                          </div>
                      </div>
                  </div>
                </div>
    
              </div>
        </div>
      </div>
    </div> -->
  </div>
</div>