.breadcrumbs {
    margin: 5px 0;
    padding: 0;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
}
.breadcrumbs li a{
color: #333;
 }
 .breadcrumbs li a:hover{
text-decoration: underline;
     }
.breadcrumbs li:after {
    content: '/';
    padding: 0 5px;
    color: #333;
}
.breadcrumbs li:last-child::after {
    content: '';
    padding: 0;
}
h3 {
    font-size: 22px;
    font-weight: 600;
}
.property-features{   margin-top: 20px;}
.property-features span {
    display: inline-block;
    padding: 0 60px 0 0;
    font-size: 14px;
    color: #333;
    font-size: 13px;
}
.property-features span b {
    display: block;
    margin-top: 5px;
    font-size: 16px;    font-weight: 600;
    margin: 0;
}
.loc-detail .material-icons{font-size: 20px;
    position: relative;
    top: 3px;
    color: #333;}
    h4{font-size: 20px;font-weight: 600;}
    .form-header{text-align: center}
    .amenities li{    width: 49%;        display: inline-block;        margin-bottom: 10px;}
    #property-slider {
        border: 1px solid #e4e2e2;
    }
    #property-slider .item{height: 250px;overflow: hidden;}
    .contenthold{font-size: 13px;}
    .contenthold ul{    display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;}
