.container-fluid{max-width: 1300px;}
.property-header {
  width: 100%;
  float: left;
  font-size: 16px;margin-bottom:20px
}
.m-ico{
  font-size: 18px;
  position: relative;
  top:3px;
}
.detail-list{
  margin: 0;
  padding: 0;
}
.detail-list li{float: left;}
.detail-list li a{padding:15px 20px;
  display:block;
color:#585858;}
.list-detail .block-1{width: 20%;
  float: left;
  font-weight: 400;
  font-size: 13px;
  min-height: 60px;
text-align: center;}
.list-detail .block-1.md{width: 30%;}
.list-detail .block-1.big{width: 33%;}
.list-detail .block-1 .block{font-weight: 600;}
  h4{font-size: 16px;font-weight: 600;}
  .list-detail{width:100%;float:left;}
  .rules{
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: disc;
    list-style-type: disc;
    list-style-position: inside;
}
.rules li{float: left;width: 33%;margin-bottom: 10px;}
.lbl-sm{font-size: 14px;
  font-weight: 600;}
.rules li.no::after{content: "\e14c";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  color: red;
  position: relative;
  top: 5px;
  font-size: 18px;
  margin-left: 5px;}
  .rules.amenities{list-style: none;}
  .rules.amenities li{height: 40px;}