<app-header></app-header>
<div class="parenthold grey-bg pt-4 ful-height">
  <div class="container-fluid">
    <div cols>
      <div class="row">
          <div class="col-md-6 ">
            <div class="card p-3">
                <div class="property-header">
                    <div class="prop-details">
                      <div class="row">
                        <div class="col-md-1">
                            <img src="../../../assets/img/property/resale_logo_2.png">
                        </div>
                        <div class="col-md-11">
                            <div class="list-card-title">  
                                <div class="left col-md-9">
                                    <span class="header"><b> RR Paying Guest </b>for rent in 3rd block jayanagar</span>
                                    <small class="block">Near Rajeshwari high school <i class="material-icons m-ico">place</i></small>
                                </div>
                                <div class="right col-md-2 text-right">
                                    <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                                    
                                  </div>                           
                              </div>
                              <div class="list-detail my-2">
                                  <div class="block-1 big">
                                      <span>Plot area</span>
                                    <span class="block">1200 Sq.Ft</span>
                                  </div>
                                  <div class="block-1 big">
                                      <span>Security Deposit</span>
                                    <span class="block">10,000</span>
                                  </div>
                                  <div class="block-1 big">
                                      <span>Rent</span>
                                    <span class="block">4,000</span>
                                  </div>
                                  </div>
                          </div>
                      </div>                    
                      </div>

                </div>
                <h4 class="m-0">Contact owner</h4>
                <form>
                  <div class="row">
                    <div class="col">
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Name</label>
                          </div> 
                    </div>
                    <div class="col">
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Mobile </label>
                          </div> 
                      </div>
                  </div>
                        <div class="md-form form-sm">
                            <input type="text" id="pg-29" class="form-control">
                            <label for="pg-29">Email id</label>
                          </div> 
                          <button class="btn btn-primary right mt-3">View Contact</button>
                </form>
            </div>
          </div>
        <div class="col-md-6">
          <div class="card">

          </div>
          <div class="card ">
              <div id="property-galary" class="owl-carousel owl-theme " style="opacity: 1; ">
                  <div class="item">
                    <div class="">
                      <div class="property-wrap">
                        <div class="property-item">
                          <div class="item-thumb">
                            <a class="hover-effect" href="property.html">
                              <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="">
                        <div class="property-wrap">
                          <div class="property-item">
                            <div class="item-thumb">
                              <a class="hover-effect" href="property.html">
                                <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                        <div class="">
                          <div class="property-wrap">
                            <div class="property-item">
                              <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                  <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                          <div class="">
                            <div class="property-wrap">
                              <div class="property-item">
                                <div class="item-thumb">
                                  <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                </div>
                <span class="lbl-hold"><i  class="material-icons">photo_camera</i>2/5</span>
          </div>
          <div class="card mt-3">
              <div class="col-md-12">
                <ul class="detail-list">
                  <li><a href="#overview">Overview</a></li>                  
                  <li><a href="#amenities">Amenities</a></li>
                  <li><a href="#description">Pricing</a></li>
                  <li><a href="#description">PG rules</a></li>
                </ul>
              </div>
            </div>
          <div class="parenthold" >
            <div class="card mt-3 py-3">
              <div class="">
                <div class="col-md-12">
                  <h4 >Property overview</h4>

                </div>
                <div class="col-md-12" id="overview">
                    <div class="list-detail my-2">
                        <div class="block-1">
                            <span>Tenant</span>
                          <span class="block">Ladies</span>
                        </div>
                        <div class="block-1">
                            <span>Food Service</span>
                          <span class="block">Available</span>
                        </div>
                        <div class="block-1">
                            <span>1,2,3,4,5</span>
                          <span class="block">Sharing</span>
                        </div>
                        <div class="block-1">
                            <span>EastDirection</span>
                          <span class="block">Facing</span>
                        </div>
                        <div class="block-1">
                            <span>4</span>
                          <span class="block">Floor No</span>
                        </div>
                        <div class="block-1">
                            <span>3 years</span>
                          <span class="block">Age of property</span>
                        </div>
                        
                      </div>
                  </div>
              </div>
            </div>

          </div>
          <div class="parenthold" >
              <div class="card mt-3 py-3">
                <div class="">
                  <div class="col-md-12">
                    <h4 >Amenities</h4>
  
                  </div>
                  <div class="col-md-12" id="overview">
                      <div class="list-detail my-2">
                            <label class="lbl-sm">Available Services</label>
                            <ul class="rules">
                              <li>Laundary</li>
                              <li>Room Cleaning</li>
                              <li>Warden Facility</li>
                            </ul>
                            <label class="lbl-sm mb-3">Available Amenities</label>
                            <ul class="rules amenities">
                                <li><i class="tv-ico"></i>Common TV</li>
                                <li><i class="ac-ico"></i>AC</li>
                                <li><i class="cupboard-ico"></i>Cupboard</li>
                                <li><i class="bath-ico"></i>Attached Bath</li>
                                <li><i class="wifi-ico"></i>WIFI</li>
                                <li><i class="refrig-ico"></i>Refrigerator</li>
                                <li><i class="lift-ico"></i>Lift</li>
                                <li><i class="gyser-ico"></i>Gyser</li>
                                <li><i class="cooking-ico"></i>Cooking Allowed</li>
                                <li><i class="powerback-ico"></i>Power Backup</li>
                              </ul>
                        </div>
                    </div>
                </div>
              </div>
  
            </div>
            <div class="parenthold" >
                <div class="card mt-3 py-3">
                  <div class="">
                    <div class="col-md-12">
                      <h4 >Pricing</h4>
    
                    </div>
                    <div class="col-md-12" id="overview">
                        <div class="list-detail my-2">
                            <div class="block-1">
                                <span>Security Deposit</span>
                              <span class="block">10,000</span>
                            </div>
                            <div class="block-1">
                                <span>Deposite</span>
                              <span class="block">80,000</span>
                            </div>
                            <div class="block-1">
                                <span>Negotiable                                </span>
                              <span class="block">Yes</span>
                            </div>
                            <div class="block-1 md">
                                <span>Deposit Refundable</span>
                              <span class="block">No</span>
                            </div>
                            
                            
                          </div>
                      </div>
                  </div>
                </div>
    
              </div>
              <div class="parenthold" >
                <div class="card mt-3 py-3 mb-4">
                  <div class="">
                    <div class="col-md-12">
                      <h4 >PG rules</h4>
    
                    </div>
                    <div class="col-md-12" id="overview">
                        <div class="list-detail ">
                          <ul class="rules">
                            <li class="no "> Smoking</li>
                            <li class="no">Drinking</li>
                            <li class="no"> Outside visitors</li>
                            <li class="no">Late night entry</li>
                          </ul>
                            
                            
                          </div>
                      </div>
                  </div>
                </div>
    
              </div>
        </div>
      </div>
    </div>
  </div>
</div>