

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.85);
}

/* Modal Content */
.modal-content {
  position: fixed;
  background-color: transparent;
  margin:0x auto ;
  padding: 0;
  width: 100%;   
  /* height: calc(100% - 200px); */
  text-align: center;top:0;bottom: 0;
  
}
.modal-content .mainhold{    position: relative;
  margin-bottom: 20px;
  height: calc(100% - 200px);}
  .modal-content .mainhold img{height:100%;width: auto;max-width: 100%;;}
  .thumb-images{height:75px;    text-align: center;    margin-bottom: 20px;}
  .basic-info{position: relative;height:60px;}
/*height: calc(100% - 200px);*/
.modal-content .mySlides img{height: 100%;width:auto; }
.modal-content .mySlides{height: 100%;width: 100%;}
.modal-content .mainhold{max-width: 700px;margin:40px auto 40px;position: relative;width:100%;}
/* The Close Button */
.close {z-index: 10;
  position: absolute;
  top: 0px;
  right:5px;width:30px;height:30px;background: url(/assets/img/closeModal_white.png);background-size: 100%;
}
.modal-content .prev{left:-30px;border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 20px;
  height: 20px;
  margin-top: 10px;transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);}
.modal-content .next{right: -30px;border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 20px;
  height: 20px;
  margin-top: 10px;transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides .active {
  display: inline;
}
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -13px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumb-images img{ max-width: 75px;display: inline-block;}