 <!-- Home page rendering with property carousel and search panel -->
<ng-search-engine class="data-align-center" [isHomePage]="true"></ng-search-engine>

<div class="parenthold">
  <section class="section-padding grey-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title">Recent Property Listings</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row" *ngIf="recentHomeProperties">
        <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let list of recentHomeProperties">
          <div class="property-main">
            <div class="property-wrap">
              <div class="property-item">
                <div class="item-thumb">
                  <a class="hover-effect" href="property.html">
                    <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                  </a>
                  <div class="label-inner">
                    <span class="label-status label bg-red">For Sale</span>
                  </div>
                </div>
                <div class="item-body">
                  <div class="adderess">
                    <i class="lni-map-marker"></i>
                    {{list.formattedAddress}}
                  </div>
  
                  <div class="pricin-list">
                    <div class="property-price clearfix">
                      <span class="float-left">${{list.rent}}</span>
                      <span class="float-right">${{list.deposit}}</span>
                    </div>
                    <p class="mar_0">
                      <span>{{homePropertyTypeOptionMap.get(list.bhkLength)}}</span> .
                      <span>{{list.buildUpArea}} Sqft</span>
                    </p>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <a href="listing.html" class="btn btn-common">Browse All</a>
          </div>
        </div>
      </div> -->



      <div class="row">
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card bar-left-success">
                <div class="ribbon-hold green">
                  <span>Ready to move</span>
                </div>
                <div class="property">
                  <div class="card-body d-flex">
                    <div class="prop-img">
                      <img src="../../../assets/img/slider-05.jpg" />
                      <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                    </div>
                    <div class="prop-details">
                      <div class="list-card-title">
                        <span class="header"><b>1 BHK House </b>for rent in 3rd block jayanagar</span>
                        <small class="block">Near Rajeshwari high school <i class="material-icons">place</i></small>
                      </div>
                      <div class="list-detail my-2">
                        <div class="block-2">
                          <small>Deposite</small>
                          <span class="block">80,000</span>
                        </div>
                        <div class="block-2">
                          <small>Rent</small>
                          <span class="block">8,000</span>
                        </div>
                        <div class="block-2">
                          <small>Furnishing</small>
                          <span class="block">Semi-furnishing</span>
                        </div>
                      </div>
                      <div class="list-action">
                        <button type="button" class="btn btn-primary mb-0 ml-0  waves-effect waves-light">Contact owner</button>
                        <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                        <small>2days ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <a href="#" class="btn btn-common">Browse All</a>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
<div class="parenthold">
  <section class="counter-section section-padding" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-eye"></i>
                    </div>
                    <div class="counterUp">6252</div>
                    <p>Visitors</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-apartment"></i>
                    </div>
                    <div class="counterUp">3091</div>
                    <p>Total property</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-users"></i>
                    </div>
                    <div class="counterUp">1200</div>
                    <p>Happy customer</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <footer id="footer" class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">About
                        <span>Us</span>
                    </h3>
                    <ul class="footer-link">
                        <li>
                            <a href="#">Company</a>
                        </li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Usefull
                        <span> Links</span>
                    </h3>
                    <ul class="footer-link">
                        <li>
                            <a href="#">Bayonne, New York</a>
                        </li>
                        <li>
                            <a href="#">Greenville, Chicago</a>
                        </li>
                        <li>
                            <a href="#">The Heights, New Jersey</a>
                        </li>
                        <li>
                            <a href="#">Bayonne, Washington DC</a>
                        </li>
                        <li>
                            <a href="#">Greenville, San Francisco</a>
                        </li>
                    </ul>
                </div> -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Contact
                        <span>us</span>
                    </h3>
                    <ul class="address">
                        <li>
                            <a href="#">
                                <i class="lni-phone-handset"></i> (518) 2014-040 43</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="lni-envelope"></i>
                                <span class="__cf_email__" data-cfemail="f49c9198989bb4918c9599849891da979b99">[email&#160;protected]</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Connect
                        <span>us</span>
                    </h3>
                    <div class="social-icon">
                        <a class="facebook" href="#">
                            <i class="lni-facebook-filled"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="lni-twitter-filled"></i>
                        </a>
                        <a class="instagram" href="#">
                            <i class="lni-instagram-filled"></i>
                        </a>
                        <a class="linkedin" href="#">
                            <i class="lni-linkedin-filled"></i>
                        </a>
                    </div>
                </div>
                <a href="#" class="back-to-top">
                    <i class="lni-chevron-up"></i>
                </a>
                        </div>
        </div>
</footer>
</div>