<!-- Home page rendering with property carousel and search panel -->
<ng-search-engine class="data-align-center" [isHomePage]="true"></ng-search-engine>

<div class="parenthold">
  <section class="section-padding grey-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <p class="view-btn">View All</p>
            <h2 class="section-title">Popular Listings</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let list of popularList">
          <div class="property-main">
            <div class="property-wrap">
              <div class="property-item">
                <div class="item-thumb">
                  <a class="hover-effect" href="property.html">
                    <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                  </a>
                  <div class="label-inner">
                    <span class="label-status label bg-red">For Sale</span>
                  </div>
                </div>
                <div class="item-body">
                  <div class="pricin-list">
                    <div class="property-price clearfix">
                      <span class="float-left">${{list.monthlyRent}}</span>
                      <span class="float-right">${{list.deposit}}</span>
                    </div>
                    <p class="mar_0">
                      <span>{{list.bhkLength}}</span> .
                      <span>{{list.availability}}</span> .
                      <span>2500 Sqft</span>
                    </p>                    
                    <div class="adderess">
                      <i class="lni-map-marker"></i>
                      {{list.formattedAddress}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <a href="listing.html" class="btn btn-common">Browse All</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="parenthold">
  <section class="latest-property section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <p class="view-btn">Meet</p>
            <h2 class="section-title">Our Agents</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">

            <div class="team-item text-center">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
                    <div class="team-overlay">
                        <div class="overlay-social-icon text-center">
                            <ul class="social-icon-team">
                                <li>
                                    <a href="#">
                                        <i class="lni-facebook-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-twitter-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-instagram-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-linkedin-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="info-text">
                    <h3>
                        <a href="#">David Givens</a>
                    </h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">

            <div class="team-item text-center">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
                    <div class="team-overlay">
                        <div class="overlay-social-icon text-center">
                            <ul class="social-icon-team">
                                <li>
                                    <a href="#">
                                        <i class="lni-facebook-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-twitter-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-instagram-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-linkedin-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="info-text">
                    <h3>
                        <a href="#">John Doe</a>
                    </h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">

            <div class="team-item text-center">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-03.jpg" alt="">
                    <div class="team-overlay">
                        <div class="overlay-social-icon text-center">
                            <ul class="social-icon-team">
                                <li>
                                    <a href="#">
                                        <i class="lni-facebook-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-twitter-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-instagram-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-linkedin-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="info-text">
                    <h3>
                        <a href="#">Darrell S.Allen</a>
                    </h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">

            <div class="team-item text-center">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-04.jpg" alt="">
                    <div class="team-overlay">
                        <div class="overlay-social-icon text-center">
                            <ul class="social-icon-team">
                                <li>
                                    <a href="#">
                                        <i class="lni-facebook-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-twitter-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-instagram-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-linkedin-filled" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="info-text">
                    <h3>
                        <a href="#">Justyna Michallek</a>
                    </h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>

        </div>
    </div>
    </div>
  </section>
</div>
<div class="parenthold ">
<section class="services section-padding grey-bg">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title-header text-center">
                  <p>Discover</p>
                  <h2 class="section-title">Common Features</h2>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
                  <div class="icon">
                      <i class="lni-apartment"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Full Furnished</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
                  <div class="icon">
                      <i class="lni-crown"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Royal Touch Paint</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                  <div class="icon">
                      <i class="lni-layers"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Letest Interior Design</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
                  <div class="icon">
                      <i class="lni-bolt-alt"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Non Stop Security</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="1s">
                  <div class="icon">
                      <i class="lni-leaf"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Living Inside a Nature</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
                  <div class="icon">
                      <i class="lni-medall"></i>
                  </div>
                  <div class="services-content">
                      <h3>
                          <a href="#">Luxurious Fittings</a>
                      </h3>
                      <p>Lorem must explain to you how all this mistaolt dete denouncing pleasure and pralsing plan wasnad</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</div>
<div class="parenthold">
  <section class="latest-property section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <p class="view-btn">Explore</p>
            <h2 class="section-title">Latest Listings</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 wow fadeIn animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
          <div id="latest-property" class="owl-carousel owl-theme" style="opacity: 1; ">
            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="item">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title">
                        <a href="property.html">Amazing oceanfront apartment</a>
                      </h3>
                      <div class="adderess">
                        <i class="lni-map-marker"></i> 96 Bay 10th St, Brooklyn, NY 11228</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,600</span>
                        </div>
                        <p>
                          <span>4 bds</span> .
                          <span>4 ba</span> .
                          <span>2500 Sqft</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="parenthold">
  <section class="featured-bg section-padding grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <p>Learn More</p>
                    <h2 class="section-title">About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <img class="img-fluid" src="assets/img/img-2.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12">
                <h2 class="intro-title">Who We Are</h2>
                <h3 class="title-sub">Best and Award Winning
                    <br/>Real Estate Business in USA 2019</h3>
                <p class="intro-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum, doloremque quaerat sit tempora
                    eius est reiciendis accusamus magnam quae. Explicabo dolore officia, iure a ullam aliquam nemo excepturi,
                    repellat. uod ut delectus ad tempora.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <div class="featured-item">
                            <div class="icon">
                                <i class="lni-medall"></i>
                            </div>
                            <h3>
                                <a href="#">Cretified Company</a>
                            </h3>
                            <div class="featured-content">
                                <p>We'll generate a sitemap for your site, submit it to search engine is and track crawler
                                    access.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <div class="featured-item">
                            <div class="icon">
                                <i class="lni-thumbs-up"></i>
                            </div>
                            <h3>
                                <a href="#">Highly experienced</a>
                            </h3>
                            <div class="featured-content">
                                <p>We'll generate a sitemap for your site, submit it to search engine is and track crawler
                                    access.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section class="counter-section section-padding" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-users"></i>
                    </div>
                    <div class="counterUp">6252</div>
                    <p>Happy Customers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-apartment"></i>
                    </div>
                    <div class="counterUp">3091</div>
                    <p>Completed Projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-key"></i>
                    </div>
                    <div class="counterUp">1200</div>
                    <p>Property Sold</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget text-center">
                <div class="counter">
                    <div class="icon">
                        <i class="lni-cup"></i>
                    </div>
                    <div class="counterUp">79</div>
                    <p>Awards Win</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section id="portfolio-section" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <p>Discover</p>
                    <h2 class="section-title">Our Gallery</h2>
                </div>
            </div>
            <div class="col-12">

                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Living Room
                    </a>
                    <a class="filter btn btn-common" data-filter=".development">
                        Bedroom
                    </a>
                    <a class="filter btn btn-common" data-filter=".print">
                        Kitchen
                    </a>
                </div>

            </div>
        </div>
        <div id="portfolio" class="row wow fadeInDown">
            <div class="col-md-6 col-sm-6 col-lg-4 mix development print">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img/img-1.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-1.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
            <div class="ccol-md-6 col-sm-6 col-lg-4 mix design print">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-2.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
            <div class="ccol-md-6 col-sm-6 col-lg-4 mix development">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img/img-3.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-3.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
            <div class="ccol-md-6 col-sm-6 col-lg-4 mix development design">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img/img-4.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-4.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
            <div class="ccol-md-6 col-sm-6 col-lg-4 mix development">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img/img-5.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-5.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
            <div class="ccol-md-6 col-sm-6 col-lg-4 mix print design">
                <div class="portfolio-box">
                    <div class="img-thumb">
                        <img class="img-fluid" src="assets/img//img-6.jpg" alt="">
                    </div>
                    <div class="overlay-box text-center">
                        <a class="lightbox" href="assets/img/img-6.jpg">
                            <i class="lni-zoom-in"></i>
                        </a>
                        <h3>Project Title</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section id="clients-logo" class="section-padding grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img2.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img3.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img4.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img5.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12">
                <div class="client-logo">
                    <a href="#">
                        <img class="img-fluid" src="assets/img/img6.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section class="pricing section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <p>Our</p>
                    <h2 class="section-title">Pricing Plans</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="pricing-table text-center">
                    <div class="table-header">
                        <h3>
                            Personal
                        </h3>
                    </div>
                    <div class="plan">
                        <h3 class="price">
                            $99
                        </h3>
                        <p class="period">
                            NO DISCOUNT ON RENEWAL
                        </p>
                    </div>
                    <div class="plan-info">
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Ad Visibility: 3 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Number of Ads: 15</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Featured Ads: 5</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">
                                Get Started Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="pricing-table pricing-active text-center">
                    <div class="table-header">
                        <h3>
                            Business
                        </h3>
                    </div>
                    <div class="plan">
                        <h3 class="price">
                            $199
                        </h3>
                        <p class="period">
                            10% Discount on renewal
                        </p>
                    </div>
                    <div class="plan-info">
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Ad Visibility: 5 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Number of Ads: 50</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Featured Ads: 10</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">
                                Get Started Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="pricing-table text-center">
                    <div class="table-header">
                        <h3>
                            Ultimate
                        </h3>
                    </div>
                    <div class="plan">
                        <h3 class="price">
                            $999
                        </h3>
                        <p class="period">
                            20% Discount on renewal
                        </p>
                    </div>
                    <div class="plan-info">
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Ad Visibility: 12 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Number of Ads: 100</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <p>
                            <strong>
                                <i class="lni-check-box"></i> Featured Ads: 30</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">
                                Get Started Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section class="testimonial section-padding grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi
                                    facere magnam illum, at accusantium doloremque odio.</p>
                            </div>
                        </div>
                        <div class="client-info">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img1.png" alt="">
                            </div>
                            <div class="info-text">
                                <h2>
                                    <a href="#">Michael Papirov</a>
                                </h2>
                                <h4>
                                    <a href="#">Customer</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi
                                    facere magnam illum, at accusantium doloremque odio.</p>
                            </div>
                        </div>
                        <div class="client-info">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img2.png" alt="">
                            </div>
                            <div class="info-text">
                                <h2>
                                    <a href="#">Josh Rossi</a>
                                </h2>
                                <h4>
                                    <a href="#">Manager</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi
                                    facere magnam illum, at accusantium doloremque odio.</p>
                            </div>
                        </div>
                        <div class="client-info">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img3.png" alt="">
                            </div>
                            <div class="info-text">
                                <h2>
                                    <a href="#">Daniel Greem</a>
                                </h2>
                                <h4>
                                    <a href="#">Customer</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi
                                    facere magnam illum, at accusantium doloremque odio.</p>
                            </div>
                        </div>
                        <div class="client-info">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img4.png" alt="">
                            </div>
                            <div class="info-text">
                                <h2>
                                    <a href="#">John Doe</a>
                                </h2>
                                <h4>
                                    <a href="#">Manager</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi
                                    facere magnam illum, at accusantium doloremque odio.</p>
                            </div>
                        </div>
                        <div class="client-info">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img5.png" alt="">
                            </div>
                            <div class="info-text">
                                <h2>
                                    <a href="#">Michael Papirov</a>
                                </h2>
                                <h4>
                                    <a href="#">Customer</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <section id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <p>From</p>
                    <h2 class="section-title">The Blog</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="blog-item text-center">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="assets/img/blog/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="date">12 April, 2018</div>
                    <div class="descr">
                        <h3 class="title">
                            <a href="single-blog.html">
                                Visual Design Concept
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                    </div>
                    <div class="blog-footer hide-on-list">
                        <div class="float-left">
                            <p class="prop-user">
                                <a href="#">
                                    <i class="lni-user"></i> Admin</a>
                            </p>
                        </div>
                        <div class="float-right">
                            <span>
                                <i class="lni-heart"></i> 350</span>
                            <span>
                                <i class="lni-comments"></i> 30</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="blog-item text-center">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="assets/img/blog/img2.jpg" alt="">
                        </a>
                    </div>
                    <div class="date">12 April, 2018</div>
                    <div class="descr">
                        <h3 class="title">
                            <a href="single-blog.html">
                                Real Estate Feswtival - 2018
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                    </div>
                    <div class="blog-footer hide-on-list">
                        <div class="float-left">
                            <p class="prop-user">
                                <a href="#">
                                    <i class="lni-user"></i> Admin</a>
                            </p>
                        </div>
                        <div class="float-right">
                            <span>
                                <i class="lni-heart"></i> 350</span>
                            <span>
                                <i class="lni-comments"></i> 30</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="blog-item text-center">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" src="assets/img/blog/img3.jpg" alt="">
                        </a>
                    </div>
                    <div class="date">12 April, 2018</div>
                    <div class="descr">
                        <h3 class="title">
                            <a href="single-blog.html">
                                Latest Architectural Design
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laudantium fugiat, eius sint.</p>
                    </div>
                    <div class="blog-footer hide-on-list">
                        <div class="float-left">
                            <p class="prop-user">
                                <a href="#">
                                    <i class="lni-user"></i> Admin</a>
                            </p>
                        </div>
                        <div class="float-right">
                            <span>
                                <i class="lni-heart"></i> 350</span>
                            <span>
                                <i class="lni-comments"></i> 30</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<div class="parenthold">
  <footer id="footer" class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">About
                        <span>Us</span>
                    </h3>
                    <ul class="footer-link">
                        <li>
                            <a href="#">Company</a>
                        </li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                        <li>
                            <a href="#">Career</a>
                        </li>
                        <li>
                            <a href="#">Graphic Design</a>
                        </li>
                        <li>
                            <a href="#">Documentation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Usefull
                        <span> Links</span>
                    </h3>
                    <ul class="footer-link">
                        <li>
                            <a href="#">Bayonne, New York</a>
                        </li>
                        <li>
                            <a href="#">Greenville, Chicago</a>
                        </li>
                        <li>
                            <a href="#">The Heights, New Jersey</a>
                        </li>
                        <li>
                            <a href="#">Bayonne, Washington DC</a>
                        </li>
                        <li>
                            <a href="#">Greenville, San Francisco</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Contact
                        <span>Info</span>
                    </h3>
                    <ul class="address">
                        <li>
                            <a href="#">
                                <i class="lni-map-marker"></i> York Blvd, Los Angeles, US
                                <br> View, CA 94041USA</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="lni-phone-handset"></i> (518) 2014-040 43</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="lni-envelope"></i>
                                <span class="__cf_email__" data-cfemail="f49c9198989bb4918c9599849891da979b99">[email&#160;protected]</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <h3 class="footer-titel">Subscribe
                        <span>on Our News</span>
                    </h3>
                    <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                        <div class="form-group is-empty">
                            <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Email address" required="">
                            <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn">
                                <i class="lni-envelope"></i>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    <div class="social-icon">
                        <a class="facebook" href="#">
                            <i class="lni-facebook-filled"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="lni-twitter-filled"></i>
                        </a>
                        <a class="instagram" href="#">
                            <i class="lni-instagram-filled"></i>
                        </a>
                        <a class="linkedin" href="#">
                            <i class="lni-linkedin-filled"></i>
                        </a>
                    </div>
                </div>
                <a href="#" class="back-to-top">
                    <i class="lni-chevron-up"></i>
                </a>
                        </div>
        </div>
</footer>
</div>