.carousel {
    width: 100%;
    height: 20%;
}
  
.carousel .carousel-inner img {
    width: 100%;
}
  
.carousel .carousel-data-panel  {
    position: absolute;
    top: 0;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: scroll; 
}

.carousel .carousel-data-panel .data-align-center   {
    width: 100%;
    margin: 0px 10px 0px 10px;
    position: absolute;
    top: 40%;
}
  
  

.carousel .carousel-control-prev, .carousel .carousel-control-next  {
    padding: 0px;
    width: 400px;
    height: 40px;
    border-radius: 80px;
    position: absolute;
    top: 50%;
    z-index: 20;
}

.carousel .carousel-control-prev  {
    left: 1%;
}
.carousel .carousel-control-next  {
    right: 1%;
}
.bannerhold{width:100%;float: left;position: absolute;z-index: -1;top:97px;}
.bannerhold .carousel .carousel-control-prev, .carousel .carousel-control-next{width:100px;}
.owl-pagination {
    position:relative;
    width:100%;
    left:0;
    bottom:-10px
   }
   .owl-theme .owl-controls .owl-page {
    display:inline-block;
    zoom:1;
    *display:inline
   }
   .owl-theme .owl-controls .owl-page span {
    display:block;
    width:12px;
    height:12px;
    margin:2px 4px;
    filter:alpha(opacity=50);
    opacity:1;
    border-radius:30px;
    background:#fff;
    border:2px solid #4064d7;
    box-shadow:0 0 10px 0 rgba(0,0,0,.1);
    transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out
   }
   .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span {
    background:#4064d7
   }
   #property-slider.owl-theme .owl-controls{position: absolute;top:50%;width:100%;margin-top: -15px;}
   #property-slider.owl-theme .owl-controls .owl-prev{background:rgba(0, 0, 0, 0.5);    color: #fff;    left: 0;display: inline-block;    position: absolute;padding: 5px 5px 5px 2px}
   #property-slider.owl-theme .owl-controls .owl-next{background:rgba(0, 0, 0, 0.5);    color: #fff;    right: 0;display: inline-block;    position: absolute;padding: 5px 5px 2px 5px;}
   #property-slider.owl-theme .owl-controls .owl-prev:hover,#property-slider.owl-theme .owl-controls .owl-next:hover{background:rgba(0, 0, 0, 1);  }