@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html,
body {
	height: 100vh;
}
p{font-size: 14px;}
body,
ol,
ul {
	margin: 0;
	padding: 0
}

body {
	font-family: 'Open Sans', sans-serif!important;
	overflow-x: hidden;
	padding-top: 100px;
	position: relative;
}

a,
a:hover {
	text-decoration: none;
}

.required::after {
  font-weight: bolder;
  color: #ff5d1dfa;
  content: '  *'
}
.errors  {
	color: red;
    font-size: 13px;
    font-weight: 400;display: none
}


.popup {
	display: none
}

ol,
ul {
	list-style: none
}

.fuild-container-padded-in {
	margin: 0 5px;
	padding: 0 5px
}

.popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .25);
	z-index: 1021 !important;
}
.log-in-popup .nav.nav-tabs{padding-top:50px;}
.nav-tabs .nav-item{overflow: visible}
.popup-content {
	max-width: 1000px;
	width: 90% !important;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
	border-radius: 3px;
	background: #fff
}
.md-form.form-sm label{font-size: 13px;}


.relative {
	position: relative
}

.banner-space {
	background: url(../img/slider-01.jpg) center center/cover no-repeat;
	height: 400px
}

.search-space {
	position: absolute;
	top: 40%;
	overflow: hidden;
	padding: 10px;
	background: 0 0;
	border-radius: 2px;
	box-shadow: 1px 1px 10px #777;
	width: 100%;
	height: 200px
}

.search-space ul {
	list-style: none;
	width: 60%;
	text-align: justify;
	line-height: 10px
}

.search-space ul::after {
	width: 100%;
	display: inline-block;
	content: ".";
	visibility: hidden
}

.blog-item .descr h3:before,
.counter-section:before,
.pricing-table .plan-info:before,
.section-title:before {
	content: ''
}

.search-space ul li {
	cursor: pointer;
	display: inline;
	font-weight: bolder;
	padding: 10px 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: 0 0;
	margin: 0 1px
}

.search-space ul li:active,
.search-space ul li:hover {
	color: #000;
	font-weight: bolder;
	border-bottom: 1px solid #f5f5f5;
	background: rgba(191, 188, 193, 1)
}

.headerhold {
	display: table;
	width: 100%;
	float: left
}

.header-top-right {
	padding: 3px 0 2px
}

.top-bar .links li a {
	font-size: 13px;
	display: inline-block;
	margin-right: 15px;
	color: #fff;
	line-height: 32px
}

.navigationhold ul li.active a {
	color: #FF5733;
	background: #ffffff;
	border-radius: 0;
	border-color: #FF5733;
}

.navigationhold ul li.active .dropdown-menu .dropdown-item {
	border-color: #f0f0f0;
}

.navigationhold ul li.show .dropdown-menu.show {
	top: 16px !important
}

.navigationhold ul li.active .dropdown-item {
	background: #fff !important;
	color: #000 !important;
	border-radius: 0 !important;
}

.navigationhold ul li a {
	color: #000;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	padding: 25px 15px 21px;
	border-bottom: 2px solid transparent;
}

nav {
	width: 100%;
	float: left;
	background: #ffffff
}

.navigationhold {
	display: table-cell;
	padding: 0
}

.navigationhold ul {
	display: inline-block
}

.navbar-brand {
	display: table-cell;
	padding: 12px;
}

.navbar-brand img {
	height: 42px;
	width: auto;
}

.navigationhold ul li {
	display: inline-block;
	padding: 0
}

.search-add .search-btn {
	position: absolute;
	top: 20px;
	right: 10px;
	color: #272727;
	border: 0;
	cursor: pointer;
	background: 0 0;
	font-size: 18px
}

.search-add input {
	border: 1px solid #e5e5e5;
	padding: 7px 40px 7px 15px;
	border-radius: 30px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	width: 100%
}

.search-add input:focus {
	box-shadow: none;
	outline: 0;
	border-color: #FF5733;
}

.navigationhold li.dropdown:hover .dropdown-menu {
	display: block
}

.navigationhold .search-add {
	position: relative;
	max-width: 200px;
	padding: 12px 0
}

.dropdown-menu {
	margin: 0;
	padding: 0;
	border: 0;
	bottom: 0px !important;
	border-radius: 0;
	box-shadow: 0 3px 10px rgba(218, 235, 255, .51);
	-webkit-box-shadow: 0 3px 10px rgba(218, 235, 255, .51);
	position: absolute;
	z-index: 99;
	min-width: 210px;
	background-color: #fff;
	border-top: 1px solid #FF5733;
	white-space: nowrap;
	animation: fadeIn .4s;
	-webkit-animation: fadeIn .4s;
	-moz-animation: fadeIn .4s;
	-o-animation: fadeIn .4s;
	-ms-animation: fadeIn .4s
}

.dropdown .dropdown-menu .dropdown-item {
	width: 100%;
	padding: 12px 23px;
	font-size: 14px;
	color: #272727;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	display: inline-block;
	float: left;
	clear: both;
	position: relative;
	outline: 0;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.property-main,
.team-item {
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s
}

.dropdown .dropdown-menu .dropdown-item:last-child {
	border-bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

.dropdown .dropdown-menu .dropdown-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.dropdown .dropdown-item.active,
.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover {
	color: #FF5733;
	text-decoration: none;
	background-color: #f8f9fa;
	border-radius: 0
}

.dropdown-item.active,
.dropdown-item:active {
	background: 0 0
}

.search-container {
	padding: 60px 0;
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center
}

.search-container .intro-sub-heading {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 20px;
	letter-spacing: .1rem
}

.search-container h2 {
	font-weight: 700;
	font-size: 50px;
	color: #fff;
	line-height: 60px;
	margin-bottom: 40px
}

.search-container .content {
	background: #fff;
	padding: 30px;
	border-radius: 6px
}

.search-container .form-group {
	margin-bottom: 30px!important
}

.search-container .form-group input {
	height: 48px
}

.search-container .search-category-container select {
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
	height: 48px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none
}

.search-container .search-category-container select:focus {
	outline: 0;
	box-shadow: none
}

.search-container .search-category-container .styled-select {
	width: 100%;
	margin-bottom: 30px
}

.search-container .btn-section .btn-common {
	width: 100%;
	padding: 13px 20px 13px;
}

.search-container .btn-section .btn-common i {
	font-size: 16px;
	position: relative;
	top: 2px;
	right: 3px;
}

.search-container {
	padding: 60px 0;
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center
}

.search-container .intro-sub-heading {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 20px;
	letter-spacing: .1rem
}

.search-container h2 {
	font-weight: 700;
	font-size: 50px;
	color: #fff;
	line-height: 60px;
	margin-bottom: 40px
}

.search-container .content {
	background: #fff;
	padding: 30px;
	border-radius: 6px
}

.search-container .form-group {
	margin-bottom: 30px!important
}

.search-container .form-group input {
	height: 48px
}

.irs-with-grid {
	margin-top: -7px
}

select.classic {
	background-image: linear-gradient(45deg, transparent 50%, #272727 50%), linear-gradient(135deg, #272727 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(15px + 5px), calc(100% - 15px) calc(15px + 5px), 100% 0;
	background-size: 5px 5px, 5px 5px;
	background-repeat: no-repeat
}

select {
	border: 0;
	border-radius: 0;
	font-size: 14px;
	width: 100%;
	line-height: 30px;
	padding: 0 15px;
	color: #727272;
	background: #fff;
	z-index: 1;
	width: 100%;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
	min-height: 45px;
	box-shadow: none;
	border: 1px solid #f3f3f3;
	background: #fff;
	width: 100%!important;
	cursor: pointer
}

select:focus {
	outline: 0;
	box-shadow: none;
}

select.mdb-select.md-form {
	border-width: 0 0 1px 0;
	margin-top: 15px;min-height: 30px;
	background: url('../img/icons/arrow_drop_down.png')no-repeat;    background-position: right center;
}
select.mdb-select.md-form::before{content:"\f107";font-family:  FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;}

.filter.btn-common {
	padding: 12px 20px
}

.btn-border,
.btn-common {
	padding: 14px 20px;
	line-height: 16px;
	font-size: 14px;
	text-transform: uppercase
}

.btn-common {
	background-color: #FF5733;
	position: relative;
	z-index: 1;
	color: #fff!important;
	border-radius: 30px;
	border: 2px solid #FF5733
}

.btn-border {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 30px
}

.bg-red {
	background: #ffc107!important
}

.bg-yellow {
	background: #ffc107!important
}

.parenthold {
	width: 100%;
	float: left
}

.section-padding {
	padding: 60px 0
}

.grey-bg {
	background: #fafafa !important
}

.white-bg {
	background: #ffffff !important
}

.section-title-header {
	margin-bottom: 30px
}

.section-title-header p.view-btn {
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	line-height: 26px;
	color: #727272;
	margin: 0 0 12px
}

.section-title {
	font-size: 36px;
	color: #272727;
	line-height: 52px;
	padding-top: 0;
	font-weight: 700;
	text-align: center;
	position: relative;
	margin: 0
}
.small-title {
	font-size: 15px;
	margin-top: 20px;
	font-weight: 500;
	padding: 15px 0
}

.property-main {
	position: relative;
	margin-bottom: 30px;
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	transition: all .3s ease-out 0s;
	cursor: pointer
}

.property-main:hover {
	box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .14)
}

.property-wrap {
	background: #fff;
	width: 100%;
	border-radius: 4px
}

.team-item {
	background: #fff;
	border-radius: 5px;
	transition: all .3s ease-out 0s
}

.team-item .overlay-social-icon .social-icon-team,
.team-item .team-overlay {
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s
}

.team-item .team-img {
	position: relative;
	min-height: 50px;
	cursor: pointer;
	overflow: hidden;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}

.team-item .team-overlay {
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, .85);
	opacity: 0;
	width: 100%;
	transition: all .3s ease-out 0s
}

.team-item .overlay-social-icon {
	color: #fff;
	top: 10%;
	position: absolute;
	display: table-cell;
	margin: 0 auto;
	width: 100%
}

.team-item .overlay-social-icon .social-icon-team {
	padding-left: 0;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	transform: translateY(-30px);
	transition: all .3s ease-out 0s
}

.pricing-table,
.team-item .overlay-social-icon .social-icon-team li a i {
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s
}

.team-item .overlay-social-icon .social-icon-team li {
	display: inline-block;
	margin: 0 2px
}

.team-item .overlay-social-icon .social-icon-team li a {
	letter-spacing: 0;
	outline: 0!important
}

.team-item .overlay-social-icon .social-icon-team li a i {
	font-size: 18px;
	color: #fff;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	display: block;
	border-radius: 50px;
	line-height: 35px;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-facebook-filled {
	background: #3b5998
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-twitter-filled {
	background: #00aced
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-instagram-filled {
	background: #fb3958
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-linkedin-filled {
	background: #1364a8
}

.team-item .info-text {
	padding: 20px;
	background: #f7f7f7
}

.team-item .info-text h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px
}

.team-item .info-text h3 a {
	color: #272727
}

.team-item .info-text h3 a:hover {
	color: #FF5733;
	text-decoration: none
}

.team-item .info-text p {
	margin: 0;
	color: #888
}

.team-item:hover {
	box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	transform: translateY(-10px)
}

#clients-logo .client-logo,
.blog-item,
.client-info .img-thumb img,
.pricing-table,
.services-item,
.testimonial-item {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.team-item:hover .team-overlay {
	opacity: 1
}

.team-item:hover .social-icon-team {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0)
}

.services {
	background: #fafafa
}

.services-item {
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}

.featured-bg .featured-item .icon,
.services-item .icon {
	padding-right: 15px;
	float: left
}

.services-item .icon i {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	color: #FF5733;
	border-radius: 50%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}

.services-item .services-content {
	padding-left: 65px
}

.services-item .services-content h3 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500
}

.services-item .services-content h3 a {
	color: #272727
}

.services-item .services-content h3 a:hover {
	color: #FF5733
}

.services-item:hover {
	box-shadow: 0 3px 15px rgba(0, 0, 0, .2)
}

.services-item:hover .icon i {
	background: 0 0;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.featured-bg .intro-title {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px
}

.featured-bg .title-sub {
	font-size: 22px;
	margin: 5px 0 15px;
	line-height: 30px
}

.featured-bg .intro-desc {
	margin-bottom: 20px
}

.featured-bg .featured-item {
	margin-bottom: 20px;
	position: relative;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}

.featured-bg .featured-item .icon i {
	font-size: 32px;
	text-align: center;
	margin-bottom: 30px;
	color: #FF5733;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}

.featured-bg .featured-item h3 {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px
}

.featured-bg .featured-item h3 a {
	color: #272727
}

.featured-bg .featured-item h3 a:hover {
	color: #FF5733;
	text-decoration: none
}

.counter-section {
	background: url(../img/counter-bg.jpg);
	overflow: hidden;
	position: relative
}

.counter-section:before {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5)
}

.counter-section .counter {
	padding: 30px 0
}

.counter-section .counter .icon {
	margin-bottom: 30px
}

.counter-section .counter .icon i {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	font-size: 36px;
	color: #FF5733
}

.counter-section .counter p {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	margin: 30px 0
}

.counter-section .counter .counterUp {
	color: #fff;
	font-size: 38px;
	margin-top: 15px;
	font-weight: 700
}

.controls {
	text-align: center;
	padding: 0 0 20px
}

.controls .active {
	color: #FF5733!important;
	border-color: #FF5733;
	background: 0 0
}

.controls .btn {
	text-transform: uppercase;
	margin: 2px;
	color: #fff
}

.controls:hover {
	cursor: pointer
}

#portfolio-section,
#portfolio-section .portfolio-box {
	position: relative
}

#portfolio-section .portfolio-box .overlay-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 25%;
	opacity: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

#portfolio-section .portfolio-box .overlay-box a {
	color: #fff;
	font-size: 16px;
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background: #FF5733;
	border-radius: 50%;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

#portfolio-section .portfolio-box .overlay-box h3 {
	margin-top: 20px;
	color: #fff;
	font-size: 22px;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

#portfolio-section .portfolio-box:hover .overlay-box {
	background: rgba(0, 0, 0, .85);
	transform: scale(1, 1);
	opacity: 1
}

#portfolio-section .portfolio-box:hover .overlay-box h3 {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0)
}

#portfolio-section .portfolio-box:hover .overlay-box a {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1)
}

#clients-logo {
	background: #fafafa
}

#clients-logo .client-logo {
	display: inline-block;
	border: 1px solid #e8e8e8;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.pricing-table {
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.pricing-active,
.pricing-table .plan-info:before,
.pricing-table:hover {
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s
}

.pricing-table .table-header {
	background: #FF5733;
	padding: 10px 0;
	color: #fff
}

.pricing-table .table-header h3 {
	font-size: 20px;
    color: #fff;
    font-weight: 500;margin: 0;
}

.pricing-table .plan {
	padding: 15px 0;
	border-bottom: 1px solid #f3f3f3
}

.pricing-table .plan .price {
	font-size: 30px;
	margin-bottom: 8px
}

.pricing-table .plan .period {
	font-size: 14px;
	color: #888;
	text-transform: uppercase;margin-bottom: 5px;
}

.pricing-table .plan-info {
	position: relative;
	padding:1rem 0px 20px;
	z-index: 1;
	overflow: hidden
}

.pricing-table .plan-info:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #e0e8ff;
	opacity: .9;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.pricing-table .plan-info p {
	color: #727272;
	font-size: 14px;
	line-height: 24px;
	padding: 0 0 1rem;
	border-bottom: 1px solid #f3f3f3
}

.pricing-table .plan-info p strong {
	color: #272727;
	display: block;
	margin-bottom: 5px
}

.pricing-table .plan-info p strong i {
	color: #FF5733;
	margin-right: 5px
}

.pricing-table .button-area {
	padding: 0px 0 0px
}

.pricing-active,
.pricing-table:hover {
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	transform: scale(1.07);
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.blog-item,
.blog-item .blog-image img {
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	webkit-transition: all .3s ease-out 0s
}

.pricing-active .plan-info,
.pricing-table:hover .plan-info {
	position: relative;
	z-index: 99;
	overflow: hidden
}

.pricing-active .plan-info:before,
.pricing-table:hover .plan-info:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 1;
	z-index: -1
}

.testimonial {
	background: #fafafa
}

.testimonial-item {
	padding: 30px;
	background: #fff;
	border-radius: 4px;
	margin: 10px
}

.testimonial-item .content {
	overflow: hidden
}

.testimonial-item .content .description {
	font-size: 15px
}

.client-info {
	margin: 20px 10px;
	float: left;
	width: 100%
}

.client-info .img-thumb {
	float: left;
	overflow: hidden;
	position: relative;
	padding: 7px
}

.client-info .img-thumb img {
	border: 3px solid transparent;
	border-radius: 50%
}

.client-info .info-text {
	float: left;
	margin: 2px 20px 25px
}

.client-info .info-text h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px
}

.client-info .info-text h2 a {
	color: #272727
}

.client-info .info-text h2 a:hover {
	color: #FF5733
}

.client-info .info-text h4 {
	margin: 0;
	clear: both;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px
}

.client-info .info-text h4 a {
	color: #999
}

.blog-item {
	background-color: #fff;
	display: block;
	max-width: 370px;
	margin: 0 auto;
	transition: all .3s ease-out 0s
}

.blog-item .blog-image {
	width: 100%;
	max-width: 370px;
	position: relative;
	overflow: hidden
}

.blog-item .blog-image img {
	transition: all .3s ease-out 0s
}

.blog-item .date {
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 17px;
	background-color: #FF5733;
	color: #fff;
	border-radius: 30px;
	margin: 0 auto;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
	width: 140px
}

.blog-item .descr {
	padding: 15px 30px 30px;
	letter-spacing: .1px;
	line-height: 28px
}

.blog-item .descr h3 {
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 30px;
	position: relative
}

.blog-item .descr h3:before {
	position: absolute;
	height: 3px;
	width: 45px;
	left: 42%;
	bottom: -15px;
	background-color: #FF5733
}

.blog-item .descr h3 a {
	margin-top: 37px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -.3px;
	font-size: 18px;
	color: #272727;
	webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.blog-item .descr h3 a:hover {
	color: #FF5733
}

.blog-item .descr .text {
	margin-bottom: 30px;
	line-height: 22px
}

.blog-item .blog-footer {
	background: #fff;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	padding: 14px 20px;
	margin: -7px 0
}

.blog-item .blog-footer .prop-user a {
	color: #727272
}

.blog-item .blog-footer .prop-user a:hover {
	color: #FF5733
}

.blog-item .blog-footer span {
	margin-right: 10px
}

.blog-item .blog-footer span i {
	margin-right: 5px
}

.blog-item:hover {
	box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	-moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .14);
	transform: translateY(-10px)
}

.blog-post {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	background-color: #fff;
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 30px
}

.blog-post .content {
	padding: 36px 43px
}

.blog-post .content h2 {
	margin: 0;
	font-size: 22px;
	line-height: 34px
}

.blog-post .content h2 a {
	color: #272727
}

.blog-post .content h2 a:hover {
	color: #FF5733
}

.blog-post .content p {
	margin: 18px 0 0
}

.blog-post .content .read-more {
	margin-top: 30px;
	padding: 7px 18px;
	text-transform: none
}

.blog-post .content .read-more i {
	font-size: 13px
}

.blog-post .post-meta {
	list-style: none;
	padding: 0;
	margin: 5px 0 0
}

.blog-post .post-meta li {
	display: inline-block;
	color: #888
}

.blog-post .post-meta li:after {
	content: "";
	width: 1px;
	height: 12px;
	background: #d0d0d0;
	display: inline-block;
	position: relative;
	top: 0;
	margin: 0 10px
}

.blog-post .post-meta li a {
	color: #888
}

.blog-post .post-meta li a:hover {
	color: #FF5733
}

.footer-area {
	background: #2e3951
}

.footer-area .footer-titel {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding-bottom: 10px;
	letter-spacing: .5px
}

.footer-area .footer-titel span {
	color: #ccc;
	font-weight: 400
}

.footer-area .footer-link li {
	margin-bottom: 10px
}

.footer-area .footer-link li a {
	color: #888;
	font-size: 14px;
	font-weight: 400;
	position: relative
}

.footer-area .footer-link li a:before {
	background-color: #fff;
	content: "";
	height: 1px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
	-webkit-transition: .15s all cubic-bezier(.39, .575, .565, 1);
	transition: .15s all cubic-bezier(.39, .575, .565, 1);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	width: 100%
}

.footer-area .address li a i,
.social-icon a {
	width: 32px;
	display: inline-block;
	text-align: center
}

.footer-area .footer-link li a:hover {
	color: #fff
}

.footer-area .footer-link li a:hover:before {
	opacity: 1;
	-webkit-transform: translateY(-3px) translateZ(0);
	transform: translateY(-3px) translateZ(0)
}

.footer-area .address li {
	margin-bottom: 20px
}

.footer-area .address li a {
	color: #888;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400
}

.footer-area .address li a:hover {
	color: #fff
}

.footer-area .address li a i {
	font-size: 22px;
	vertical-align: middle;
	height: 36px;
	float: left;
	margin-right: 5px;
	line-height: 32px
}

.footer-area #subscribe-form {
	margin-top: 10px
}

.footer-area #subscribe-form .form-group {
	position: relative
}

.footer-area #subscribe-form .form-group .btn-common {
	position: absolute;
	top: -7px;
	right: 0px;
	padding: 6px !important;
	box-shadow: none;
	height: 44px;
	border: 0;
	border-radius: 0;
	background: 0 0;
	color: #FF5733 !important
}

#copyright {
	background: #333
}

#copyright p {
	line-height: 42px;
	color: #fff;
	text-align: center;
	margin: 0
}

#copyright p a {
	color: #fff
}

#copyright p a:hover {
	color: #FF5733
}

.footer-area #subscribe-form .form-group .btn-common:hover,
.footer-area #subscribe-form .form-group .btn-common:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.social-icon a {
	color: #272727;
	background: #fff;
	height: 32px;
	line-height: 34px;
	border-radius: 100%;
	font-size: 16px;
	margin: 15px 6px 12px 4px;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}

.social-icon a:hover {
	color: #fff!important
}

.social-icon .facebook:hover {
	background: #3b5999
}

.social-icon .twitter:hover {
	background: #4a9cec
}

.social-icon .instagram:hover {
	background: #d6274d
}

.social-icon .linkedin:hover {
	background: #1260a2
}

.social-icon .google:hover {
	background: #ce332a
}

#portfolio-section .mix {
	padding: 10px
}

#portfolio .mix {
	display: none
}

#portfolio .mix.show {
	display: inline-block
}

textarea.form-control {
	min-height: 100px;
}

a.back-to-top {
	display: none;
	position: fixed;
	bottom: 18px;
	right: 15px;
	text-decoration: none
}

a.back-to-top i {
	display: block;
	font-size: 22px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #FF5733;
	border-radius: 30px;
	text-align: center;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28)
}

a.back-to-top:hover,
a.back-to-top:focus {
	text-decoration: none
}

.fadeInUpMenu {
	-webkit-animation-name: fadeInUpMenu;
	animation-name: fadeInUpMenu
}

.slicknav_btn {
	border-color: #FF5733
}

.slicknav_menu .slicknav_icon-bar {
	background: #FF5733
}

@media(min-width:768px) and (max-width:991px) {
	#nav-main li a.nav-link {
		padding-top: 18px
	}
}

.navbar-toggler {
	display: none
}

.mobile-menu {
	display: none
}

.slicknav_menu {
	display: none
}

@media screen and (max-width:991px) {
	.navbar-header {
		width: 100%
	}
	.navbar-brand {
		position: absolute;
		padding: 0 15px;
		top: 0
	}
	.navbar-brand img {
		width: 75%
	}
	.slicknav_menu {
		display: block
	}
}

@media screen and (max-width:768px) {
	.nav-tabs .nav-item{margin-bottom: -1px;
		margin-left: 3px;}
	.log-in-popup .nav.nav-tabs{padding-top: 0;margin: 0;}
	.navbar-header {
		width: 100%
	}
	.navbar-brand {
		position: absolute;
		padding: 0 15px;
		top: 0
	}
	.navbar-brand img {
		width: 75%
	}
	#mobile-menu {
		display: none
	}
	.slicknav_menu {
		display: block
	}
	.slicknav_nav .active a {
		background: #e91e63;
		color: #fff
	}
	.slicknav_nav .dropdown li a.active {
		background: #f8f9fa;
		color: #FF5733
	}
	.slicknav_nav .dropdown li a:focus {
		outline: 0
	}
}


/**********forms**********/

.md-form .prefix {
	color: #9e9e9e;
    top: 6px !important;
    font-size: 16px !important;
    border-right: 1px solid #aaa;
    padding: 2px 12px 2px 0;
}

.md-form input[type=date].invalid,
.md-form input[type=date]:focus.invalid,
.md-form input[type=datetime-local].invalid,
.md-form input[type=datetime-local]:focus.invalid,
.md-form input[type=email].invalid,
.md-form input[type=email]:focus.invalid,
.md-form input[type=number].invalid,
.md-form input[type=number]:focus.invalid,
.md-form input[type=password].invalid,
.md-form input[type=password]:focus.invalid,
.md-form input[type=search-md].invalid,
.md-form input[type=search-md]:focus.invalid,
.md-form input[type=search].invalid,
.md-form input[type=search]:focus.invalid,
.md-form input[type=tel].invalid,
.md-form input[type=tel]:focus.invalid,
.md-form input[type=text].invalid,
.md-form input[type=text]:focus.invalid,
.md-form input[type=time].invalid,
.md-form input[type=time]:focus.invalid,
.md-form input[type=url].invalid,
.md-form input[type=url]:focus.invalid,
.md-form textarea.md-textarea.invalid,
.md-form textarea.md-textarea:focus.invalid,
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]),
.md-form input[type=date].valid,
.md-form input[type=date]:focus.valid,
.md-form input[type=datetime-local].valid,
.md-form input[type=datetime-local]:focus.valid,
.md-form input[type=email].valid,
.md-form input[type=email]:focus.valid,
.md-form input[type=number].valid,
.md-form input[type=number]:focus.valid,
.md-form input[type=password].valid,
.md-form input[type=password]:focus.valid,
.md-form input[type=search-md].valid,
.md-form input[type=search-md]:focus.valid,
.md-form input[type=search].valid,
.md-form input[type=search]:focus.valid,
.md-form input[type=tel].valid,
.md-form input[type=tel]:focus.valid,
.md-form input[type=text].valid,
.md-form input[type=text]:focus.valid,
.md-form input[type=time].valid,
.md-form input[type=time]:focus.valid,
.md-form input[type=url].valid,
.md-form input[type=url]:focus.valid,
.md-form textarea.md-textarea.valid,
.md-form textarea.md-textarea:focus.valid {
	box-shadow: none;
}



/********tab nav***********/

.header-main {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	box-shadow:none;
}

.mainmenu.header-main {
	z-index: 4;
	top: 33px;
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
    -webkit-box-shadow: 0 1px 6px rgba(32,33,36,.28);
    -moz-box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.navbar {
	position: fixed;
	-webkit-z-index: 4;
	-moz-z-index: 4;
	-ms-z-index: 4;
	-o-z-index: 4;
	z-index: 4;
	width: 100%;
	top: 33px;
}

.nav-tabs {
	margin-right: 40px;
}

.nav-tabs .nav-item .nav-link {
	color: initial
}

.nav-tabs .nav-item .nav-link.active {
	color: #FF5733;
	background: #fff;
}


/*******btn****************/

.btn {
	padding: 10px 20px !important;
}


/***********common style*********/

.md-form {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.right {
	float: right;
}

.left {
	float: left;
}

.block {
	display: block !important;
}

.ful_height {
	min-height: 100%;
}


label.block .material-icons {
	position: relative;
	top: 4px;
}

.form-control {
	font-size: 14px;
}

label.block {
	font-size: 14px;
}


/*********text-color**********/

.primary-text {
	color: #FF5733;
}


/********button***********/

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
	background: #ffc107 !important;
	color: #ffffff;
	border: 1px solid #ffc107 !important;
}


/********search*****/

ul.search-tab {
	text-align: center;
	margin-top: 13%;
}

ul.search-tab li {
	display: inline-block;
	background: rgba(0, 0, 0, 0.6);
	margin-left: -5px;
}

ul.search-tab li a {
	color: #ffffff;
	padding: 10px 18px;
	font-weight: 500;
	display: block;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

ul.search-tab li a:hover,
ul.search-tab li a.active {
	color: #FF5733;
	border-bottom: 2px solid #FF5733;
}

.searchbody {
	padding: 15px;
	background: rgba(0, 0, 0, 0.6);
	max-width: 960px;
	margin: auto;
	margin-bottom: 12%;
}

.searchbody .form-control {
	height: 45px;
	border-radius: 2px;
}

.searchbody .banner-btn,.searchbody .banner-btn:focus{
	text-transform: uppercase;
	border: 0;
	height: 45px;
	color: #ffffff;
	background: #FF5733;
	width: 100%;
	display: block;
	text-align: center;
	cursor: pointer;outline: none;
}

.searchbody .banner-btn i {
	position: relative;
	top: 2px;
	margin-right: 3px;
}


/******list search section******/

.sub_searchhold select.search-main {
	background: url(../img/select.png)no-repeat;
	background-position: 97% center;
	display: inline-block;
	width: 150px !important;
	border-radius: 0;
	height: 40px;
	min-height: 40px;
	top: -1px;
	border: 1px solid #bab9b9;
	position: relative;
}

.sub_searchhold input,
.sub_searchhold .btn2 {
	min-height: 40px;
	height: 40px;
	display: inline-block;
}

.navbar-brand {
	width: 200px;
}

.sub_searchhold {
	display: table-cell;
}

.sub_searchhold input.form-control {
	width: calc(100% - 358px);
	float: none;
	display: inline-block;
	height: 40px;
	margin-left: -5px;
	border: 1px solid #bab9b9;
	font-size: 14px;
	border-radius: 0;
}

input.form-control:focus {
	outline: none;
	box-shadow: none;
}

.sub_searchhold .search-btn {
	width: 130px;
	position: relative;
	right: 4px;
	top: -1px;
	border-radius: 0;
	box-shadow: none;
	background: #FF5733;
	padding: 8px 10px 10px !important;
	display: inline-block;
	margin: 0;
}

.sub_searchhold .btn2 a {
	border: 1px solid #FF5733;
	height: 40px;
	position: relative;
	top: 0;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500
}

.sub_searchhold .search-btn i {
	font-size: 18px;
	position: relative;
	top: 3px;
	padding-right: 3px;
}

.pac-container {
	z-index: 1021;
}

.handburger {
	display: table-cell;
}

.navbar-toggle {
	margin-left: 15px;
	display: block;
	top: 11px;
	position: relative;
	padding: 5px 0px 0px 0px;
	width: 30px;
	right: 0;
	margin: 0 0 8px 15px;
}

.navbar-toggle::before {
	position: relative;
	top: 19px;
}

.bar1,
.bar2,
.bar3 {
	width: 100%;
	height: 2px;
	margin-bottom: 6px;
	display: block;
	background-color: #333333;
	transition: all 0.3s ease-in-out;
}

.sidenav {
	position: fixed;
	z-index: 1018;
	background-color: #21242a;
	width: 270px;
	height: 100%;
	text-align: center;
	display: table;
	color: white;
	opacity: 0.95;
	top: 115px;
	right: -270px;
	margin-left: 0px;
}

.sidenav.nav-opened {
	margin-right: 0;
	right: 0;
}

.sidenav,
.navbar-toggle {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.sidenav,
.sidenav.nav-opened {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.mainlist li a {
	padding: 10px 15px;
	display: block;
	border-bottom: 1px solid rgba(139, 139, 139, 0.24);
	text-align: center;
	color: #ffffff;
}

.mainlist li a:hover {
	color: #FF5733;
}

.content-wrapper {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0px 20px 25px;
}

.search-filter .nav-tabs {
	border: 0;
	margin: 0;
}

.search-filter li {
	width: 100%;
	float: left;
}

.search-filter .filter-tab {
	display: block;
	padding: 10px 4px;
	text-align: center;
	background: #ffffff;
	color: #333;
	font-weight: 500;
	border-bottom: 1px solid #f8f8f8;
}

.search-filter .filter-tab.active {
	background: #ffffff;
	color: #FF5733;
	border-bottom: 1px solid #ffffff;
}

.search-filter .tab-content {
	background: #ffffff;
	padding: 5PX 15px 15px 15px;
	width: 100%;
	float: left;
}

h4.panel-title a {
	FONT-SIZE: 15PX;
	COLOR: #333;
	FONT-WEIGHT: 600;
	display: block;
	padding: 8px 0;
	position: relative;
}

.clear-text {
	font-size: 13px;
	color: #FF5733;
	font-weight: 500
}

.form-check-label {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
}

.clear {
	clear: both;
}


/********** search filter*****/

.search-filter {
	width: 100%;
	float: left;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	padding: 10px 15px 0;
	background: #fff;
	top: 135px;
	overflow-y: auto;
	height: calc(100% - 140px);
	max-width: 300px;
	position: fixed;
}

.search-filter .lbl-main {
	font-size: 16px;
	font-weight: 500;
	color: #919090;
	float: left;
	margin: 0;
}

.search-filter .lbl-list {
	font-size: 14px;
	font-weight: 500;
	color: #919090;
	float: left;
	display: block;
	width: 100%;
	margin: 10px 0 10px;
}

a.advance-filter {
	width: 100%;
	display: block;
	padding: 5px;
	background: #333;
	color: #fff !important;
	margin-top: 5px;
	text-align: left;
	margin-bottom: 0;
	padding: 10px 15px;
	position: relative;
}

.advance-filter-hold,
.basic-filter {
	width: 100%;
	float: left;
}

.advance-filter-hold {
	display: none;
}

.advance-filter i {
	position: absolute;
	right: 15px;
	margin: 0;
	top: 15px;
}

.advance-filter.collapsed i {
	-webkit-transform: translate(50%, -50%) rotate(180deg);
	transform: translate(50%, -50%) rotate(180deg);
	top: 21px;
}


/************checkbox*******/

label.checkbox input {
	position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.checkbox {
	display: inline-block;
	position: relative;
	padding-left: 22px;
	font-weight: 400;
	color: #333;
	padding-right: 15px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label.checkbox.f-ico {
	height: 35px;
	width: 100%;
}

.checkmark {
	position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

label.checkbox:hover input~.checkmark {
	background-color: #ccc;
}

label.checkbox input:checked~.checkmark {
	background-color: #FF5733;
}

.checkmark:after {
	content: "";
  position: absolute;
  display: none;
}

label.checkbox input:checked~.checkmark:after {
	display: block;
}
.checkbox .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 11px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

/**************radio button*****/

.radiobtn {
	display: inline-block;
	position: relative;
	padding-left: 26px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radiobtn input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radiobtn .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

.radiobtn:hover input~.checkmark {
	background-color: #eee;
}

.radiobtn input:checked~.checkmark {
	background-color: #FF5733;
}

.radiobtn .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radiobtn input:checked~.checkmark:after {
	display: block;
}

.radiobtn .checkmark:after {
	top: 6px;
    left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/*****load-gif*****/

.load-gif img {
	display: block;
	margin: auto;
}


/********register form*********/

.post-reg {
	padding: 0;
}

.sub-title-head {
	padding: 18px 15px;
	margin: 0;
	border-bottom: 1px solid #eee;
	color: #FF5733;
	font-weight: 400;
	font-size: 20px;
}

.form-hold {
	padding: 15px;
}

label.checkbox.ico,label.radiobtn.ico {
	padding-top: 50px;
	min-width: 120px;
	margin: 0;
}

label.checkbox.ico .checkmark ,.radiobtn.ico .checkmark{
	top: auto;
	bottom: 0px;
}

.botton-hold {
	padding: 15px 30px;
	display: block;
	border-color: #eee;
	border-style: solid;
	border-width: 1px 0 0;
	position: relative;
	text-align: center;
}

.signle_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: 0px 0px;
	content: "";
	width: 30px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.double_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: 0px -45px;
	content: "";
	width: 54px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.three_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: 0px -90px;
	content: "";
	width: 42px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.four_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: 0px -134px;
	content: "";
	width: 44px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.five_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -131px -83px;
	content: "";
	width: 60px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.six_room:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -131px -130px;
	content: "";
	width: 60px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.male:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -131px -266px;
	content: "";
	width: 30px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.maleshare:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -132px -313px;
	content: "";
	width: 45px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.female:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -131px -176px;
	content: "";
	width: 30px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.femaleshare:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -132px -220px;
	content: "";
	width: 45px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.family:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -204px -6px;
	content: "";
	width: 50px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.family_any:before {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -208px -52px;
	content: "";
	width: 50px;
	height: 40px;
	display: block;
	top: 5px;
	left: 0;
	position: absolute;
}

.main-tab-h.nav .nav-item {
	float: none;
	display: inline-block;
}

.main-tab-h.nav {
	display: block;
}


/********mani-tab-h**************/

.nav-mytabs a {
	position: relative;
	padding: 10px 25px;
	border-radius: 2px 2px 0 0;
	background: white;
	color: black;
	transition: all 0.1s ease-in-out;
	border-bottom: 2px solid #fff;
}

.nav-mytabs a i.material-icons {
	font-size: 20px;
	position: relative;
	top: 3px;
	margin-right: 3px;
}

.nav.main-tab-h.nav-mytabs .nav-item {
	margin-right: 0;
	margin-left: -4px;
}

.nav-mytabs .nav-item a.active {
	border-bottom: 2px solid #FF5733;
}


/********sub-tab****/

.main-tab-h.nav-tabs {
	margin: 0;
	border-width: 0 0px 1px 0;
	border-style: solid;
	border-color: #eee;
	display: block;
	height: 100%;
}

.main-tab-h.nav-tabs .nav-item {
	float: left;
	margin-bottom: 0px;
}

.main-tab-h .nav-link .material-icons {
	font-size: 20px;
	position: relative;
	top: 4px;
	margin-right: 3px;
}

.main-tab-h .nav-link .material-icons.fa {
	font-size: 18px;
	top: 1px;
	margin-right: 4px;
}

.main-tab-h.nav-tabs .nav-item a {
	background: #fff;
	margin: 0;
	line-height: 28px;
	border-radius: 0;
	padding: 15px;
	border-width: 0 0 1px 0;
	border-color: #eee;
	border-style: solid;
}

.main-tab-h.nav-tabs .nav-item a.nav-link.active {
	margin: 0;
	border-radius: 0;
	border-color: #eee #eee #fff #eee;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

.main-tab-h.nav-tabs .nav-link:focus,
.main-tab-v.nav-tabs .nav-link:hover {
	border-color: #fff;
	outline: none;
}

.post-reg .tab-content .select-labl {
	width: calc(100% - 110px) !important;
	float: left;
}

.post-reg .tab-content .select-lbl {
	padding: 11px 15px;
	margin: 0;
	font-size: 1rem;
	height: 45px;
	border: 1px solid #ced4da;
	float: left;
	margin-left: -1px;
	font-size: 14px;
}

.font-ico {
	font-size: 18px !important;
	margin: 0 5px;
}

.cupboard-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: 0px -186px;
	content: "";
	width: 30px;
	height: 40px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
}

.tv-ico {
	background: url(../img/icons/sprite-1.png)no-repeat;
	background-position: 0px -190px;
	content: "";
	width: 35px;
	height: 35px;
	display: block;
	top: -7px;
	left: 0;
	position: relative;
	float: left;
	background-size: 425px;
}

.bath-ico {
	background: url(../img/icons/sprite-1.png)no-repeat;
	background-position: 0px -229px;
	content: "";
	width: 35px;
	height: 35px;
	display: block;
	top: -7px;
	left: 0;
	position: relative;
	float: left;
	background-size: 425px;
}

.gyser-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -6px -314px;
	content: "";
	width: 30px;
	height: 40px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
}

.ac-ico {
	background: url(../img/icons/sprite-1.png)no-repeat;
	background-position: -53px -9px;
	content: "";
	width: 44px;
	height: 34px;
	display: block;
	top: -2px;
	left: 0;
	position: relative;
	float: left;
	background-size: 425px;
}

.bed-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -42px -62px;
	content: "";
	width: 36px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 375px;
}

.lift-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -59px -123px;
	content: "";
	width: 36px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.wifi-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -55px -261px;
	content: "";
	width: 32px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.powerback-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -58px -223px;
	content: "";
	width: 25px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.mess-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -60px -190px;
	content: "";
	width: 30px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.refrig-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -48px -248px;
	content: "";
	width: 30px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 400px;
}

.cooking-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -61px -162px;
	content: "";
	width: 30px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.car-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -126px -42px;
	content: "";
	width: 30px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 475px;
}

.bike-ico {
	background: url('../img/icons/sprite-1.png')no-repeat;
	background-position: -114px 1px;
	content: "";
	width: 33px;
	height: 36px;
	display: block;
	top: -9px;
	left: 0;
	position: relative;
	float: left;
	background-size: 450px;
}

/*********serach list********/
.card {margin: 15px 0;box-shadow: 0 1px 6px rgba(32,33,36,.28);	-webkit-box-shadow: 0 1px 6px rgba(32,33,36,.28);-moz-box-shadow: 0 1px 6px rgba(32,33,36,.28);padding:12px;position: relative;}
.card:hover{box-shadow: -1px -1px 8px rgba(32,33,36,.28), 1px 2px 8px rgba(32,33,36,.28), 1px 2px 8px rgba(32,33,36,.28);}
.ribbon-hold{position: absolute;right: 0;top: 0;color: #fff;font-size: 12px;padding: 5px 5px 5px 0px;}
.ribbon-hold:before {border-left-color:transparent;}
.ribbon-hold:before {content: "";float: left;border: 14px solid ;position: absolute;top: 0;left: -27px;border-left-color: transparent;}
.card .property .card-body{height: auto;padding: 0px 0px 0px 0px;}
.prop-img {width: 30%;height: 153px;position: relative;}
.prop-img .lbl-hold{position: absolute;bottom: 0;background: rgba(0, 0, 0, 0.6);color: #fff;padding: 2px 8px;font-size: 13px !important;left:0;}
.prop-img .lbl-hold i{font-size: 16px;position: relative;top:3px;margin-right:3px;}
.prop-img img {width: 100%;height: 100%;border-right: 1px solid rgba(0,0,0,.125);}
.prop-img img:hover {cursor: pointer;}
.prop-details {width: 70%;padding-left: 15px;font-size: 15px;color: #585858;}
.prop-details .header{width: 100%;float: left;padding-right: 105px;}
.list-card-title small{font-size:13px;}
.list-card-title small i{font-size: 18px;position: relative;top: 3px;}
.prop-details .header b{font-weight:600;}
.list-detail{width:100%;float: left;}
.list-detail .block-1{float:left;width:25%;}
.list-detail .block-2{float:left;width:33.3%;}
.prop-address {background-color: rgba(0,0,0,.03);font-weight: bold;font-size: 16px;color: rgb(66, 66, 66);}
.prop-details-info {padding: 5px 10px 5px 10px;}
.prop-address span:hover {cursor: pointer;text-decoration: underline;}
.prop-features{border-top: 1px solid gray;border-bottom: 1px solid gray;height: 50px;background-color: #f7f7f7;border-top-color: rgb(223, 223, 223);border-bottom-color: rgb(223, 223, 223);padding-left: 10px;overflow-x: auto;}
.prop-features div{background-color: rgb(255, 206, 206);width: 100px;height: 100%;display: inline-block;}
.prop-footer {position: absolute;bottom: 5px;padding-left: 10px;font-size: 25px;}
.prop-btn {font-weight: bold;}
.prop-btn:hover {box-shadow: 1px10px 10px rgba(0,0,0,.14);}
.prop-price {color: #888888;font-size: 20px;}
span[currency].prop-price::before {content: attr(currency) ' ';color: indigo;font-weight: bold;}
span.prop-price::before {content: 'Rs: ';color: indigo;font-weight: bold;}
.prop-price::after {content: '.';}
.prop-desc{padding-left: 10px;font-size: 16px;height: 50px;overflow: hidden;}
.prop-desc:hover {overflow: auto}
.green::before{border-color:#4caf50;border-left-color: transparent;}
.green{background: green;}
/*****postproperty options**********/

.post-property-opt .card:hover {
	box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.78);
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.1);
	transition: all 200ms ease-in;
	transform: scale(1.1);
}

.post-property-opt h4.card-title {
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

.btn.btn-primary,
.btn.btn-outline-primary {
	border: 1px solid #FF5733 !important;
}
.btn-text{
	position: relative;top: 4px;
}
.shortlist {
	padding:5px 10px 5px 10px;
	height: 40px;
	position: relative;
    display: inline-block;
    top: 6px;
}

.shortlist i {
	position: relative;
	top: 6px;color: #333;
}

.body.current .fade{opacity:1 ;}
label.radiobtn {
    font-size: 14px;
}
.hint{font-size:12px;float: right;color: #757575;}
.md-form.form-sm .prefix~input, .md-form.form-sm .prefix~textarea{padding-left: 2rem;margin-left: 0;}