

#main-slide .carousel-control{
  display:none;
  transition:all .3s ease-in-out
}
#main-slide .carousel-indicators{
  cursor:pointer;
  bottom:50px
}
#main-slide:hover .carousel-control{
	display:block;
	transition:all .3s ease-in-out;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}
#main-slide .carousel-item img{
  position:relative;
  height: 400px;
}
#main-slide .carousel-inner .carousel-item::after{
	bottom:0;
	content:"";
	left:0;
	position:absolute;
	right:0;
	top:0
}
#main-slide .carousel-item .carousel-caption{
	opacity:0;
	transition:opacity 100ms ease 0s;
	z-index:0
}
#main-slide .carousel-item .carousel-caption h4{
	font-size:18px;
	color:#f3f3f3;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:40px
}
#main-slide .carousel-item .carousel-caption .heading{
	font-size:48px;
	font-weight:700;
	color:#fff;
	letter-spacing:.1rem
}
#main-slide .carousel-item .carousel-caption .heading span{
	color:#FF5733
}
#main-slide .carousel-item .carousel-caption p{
	color:#fff;
	padding:15px 0;
	font-size:15px;
	font-weight:500;
	text-transform:uppercase
}
#main-slide .carousel-item.active .carousel-caption{
	opacity:1;
	transition:opacity 100ms ease 0s;
	z-index:1
}
#main-slide .carousel-caption{
	color:#fff;top:10%
}
#main-slide .carousel-caption .btn{
	margin:20px 10px
}
#main-slide .carousel-control-next,#main-slide .carousel-control-prev{
	opacity:1;
	box-shadow:none
}
#main-slide .carousel-control-prev span{
	padding:15px
}
#main-slide .carousel-control-next span{
	padding:15px
}
#main-slide .carousel-control .fa-angle-left,#main-slide .carousel-control .fa-angle-right{
	position:absolute;
	z-index:5;
	display:inline-block
}
#main-slide .carousel-control .fa-angle-left{
	left:10px
}
#main-slide .carousel-control .fa-angle-right{
	right:10px
}
#main-slide .carousel-control i{
	line-height:40px;
	font-size:18px;
	width:45px;
	border:2px solid #fff;
	height:45px;
	display:block;
	border-radius:30px;
	background:0 0;
	color:#fff;
	-webkit-transition:all 500ms ease;
	transition:all 500ms ease
}
#main-slide .carousel-control i:hover{
	background:rgba(255,255,255,.2);
	color:#fff;border-color:#fff
}











.property-wrap{
	background:#fff;
	width:100%;
	border-radius:4px;float: left;
}
.item-thumb{
	position:relative;
	width:100%;
	height:100%;
	-webkit-transition:all .3s ease-out 0s;
	-moz-transition:all .3s ease-out 0s;
	-ms-transition:all .3s ease-out 0s;
	-o-transition:all .3s ease-out 0s;
	transition:all .3s ease-out 0s
}
.item-thumb a{
	display:block
}
.item-thumb a img{
	border-radius:4px 4px 0 0
}

.item-thumb:hover{opacity:.9}



.label-inner  {
  position:absolute;
  bottom:15px;
  left:15px;
  z-index:3;
}

.label-inner .label {
  display:inline-block;
  color:#fff;
  border-radius:2px;
  font-size:12px;
  border-radius:30px;
  padding:7px 18px;
  text-transform:uppercase;
  margin-bottom:0;
  line-height:15px;
  vertical-align:top;
}

.label-inner .label-status  {
  background:#FF5733;
}

.item-body .adderess  {
  color:#999;
  font-size:14px;
  line-height:22px;
  margin:0;
}

.item-body .property-title  {
  margin-bottom:10px;
  line-height: 18px;
}

.item-body .property-title a  {
  font-size:18px;
  color:#272727;
  font-weight:500;
}

.item-body .property-title a:hover  {
  color:#FF5733;
  text-decoration: none;
}

.item-body .adderess  {
  color:#999;
  font-size:14px;
  line-height:22px;
  margin:0;
}

.item-body .pricin-list {
  margin-top:10px;
  position:relative;
}

.item-body .pricin-list .property-price {
  font-size:26px;
  font-weight:500;
  color:#FF5733;
  margin-bottom:5px;
}

.item-body .pricin-list p span  {
  color:#000;
  font-weight:500;
  font-size:14px;
}

.item-body .pricin-list .view-iocn  {
  position:absolute;
  bottom:0;
  right:15px;
}


#latest-property .item{
	margin:0 10px
}

.property-main{width:100%;float: left;}

.property-main .item-body{
	padding:20px;float: left;width:100%;
}

.property-main .item-thumb{
	width:100%;
	float:left;
	overflow:hidden;
}

.list-layout .property-main .item-body{
	padding:30px
}



.top-bar  {
  background:#ffc300;
  border-bottom:1px solid rgba(255,255,255,.06); 
  padding: 0px;
}

.top-bar .links li  {
  display:inline-block;
  padding:0px 0;
  color:#fff;
  margin-right:15px;
  font-size: 13px;
}

.top-bar .links li i  {
    font-size:13px;
    color:#fff;
    padding-right:5px
}

.top-bar .account-setting{
  position:relative;
  float:right;
  padding:4px;
  margin-right:5px;
  color:#fff
}

.top-bar .account-setting a{
  display:inline-block;
  padding:6px;
  outline:0;
  font-size:12px;
  text-decoration:none;
  color:#fff
}

.top-bar .account-setting a i {  
  margin-right:5px;
}

.top-bar .social-list {
  float:right
}

.top-bar .social-list li  {
  float:left;
  padding:6px 0
}

.top-bar .social-list li a  {
  color:#fff;
  font-size:14px;
  display:inline-block;
  width:34px;
  height:33px;
  line-height:33px;
  text-align:center;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out
}

.sticky.is-sticky{
  position:fixed;
  left:0;
  right:0;
  top:0;
  z-index:1000;
  width:100%;
}


.header-top-right .header-top-button  {
  color:#fff;
  background:0 0;
  padding:3px 10px;
  border-radius:30px;
  font-size:13px;
  line-height:22px;
  margin-left:5px;
  -webkit-transition:all .3s ease-out 0s;
  -moz-transition:all .3s ease-out 0s;
  -ms-transition:all .3s ease-out 0s;
  -o-transition:all .3s ease-out 0s;
  transition:all .3s ease-out 0s
}

.header-top-right .header-top-button:hover{
  background:rgba(255,255,255,.2);
}

.header-top-right .white-bg {
  background:#fff;
  color:#FF5733;
}

.header-top-right .white-bg:hover {
  color:#fff;
}


.nav-mytabs {
  margin-top: 2rem;
}
 
.nav-mytabs li:not(:last-child) {
  margin-right: 7px;
}

.nav-mytabs a.active, .nav-mytabs a:hover {
  opacity: 1;
  top: 0;
}