
/** 
  * SASS/SCSS file for programatic css generation for dynamic styles.
  *
  * Auth: Anil Kumar.
  * Date: 10-JUN-2018.
  * Version: 1
  */

// colors names
$colors-list: (
  blue: #FF5733,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #e83e8c,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #28a745,
  teal: #20c997,
  cyan: #17a2b8,
  white: #fff,
  gray: #6c757d,
  gray-dark: #343a40,
  primary: #FF5733,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40
);

// sides of screens/window
$sides: (top, left, right, bottom);


@each $side in $sides	{
  .bar-#{$side}	{
    border-#{$side}: 5px solid black;
  }
}

@each $name, $color in $colors-list {

  .bar-#{$name}	{
    border: 5px solid $color;
  }

  @each $side in $sides	{
		.bar-#{$side}-#{$name}	{
      border-#{$side}: 5px solid $color;
	  }
	}
}


$fa-size: (
  xs: 14px,
  sm: 19px,
  md: 24px,
  lg: 36px,
  xl: 48px
);

@each $size, $weight in $fa-size	{
  .fa-#{$size}	{
    font-size:$weight;
  }
}