
<!-- remvove styles from here add-->
<style>
    .mainDiv  {
      padding: 10px 100px 10px 100px;
    }
    .cardImg  {
      width: 200px;
      height: 150px;
      border: 1px solid gray;
    }
  </style>


  <!-- Application header options list -->
  <app-header></app-header>

  <!--  Please add the images in card and Text down to cards  -->
  <div *ngIf = "propertyType == null" class="py-3 post-property-opt">
    <div class="mainDiv">
      <div class="row mb-4">
        <div class="col-4" (click) = "selection = PROPERTY_TYPE.HOME">
          <div class="card light-green accent-3  waves-effect waves-light">
            <div class="card-body">
              <div class="avatar mx-auto text-center mb-2">
                <img src="../assets/img/icons/home.png">
              </div>
                <h4 class="card-title">Home</h4>
            </div>             
          </div>           
        </div>
        <div class=" col-4 " (click) = "selection = PROPERTY_TYPE.PG">
            <div class="card amber lighten-1  waves-effect waves-light">
                <div class="card-body">
                    <div class="avatar mx-auto text-center mb-2">
                        <img src="../assets/img/icons/pg.png">
                      </div>
                    <h4 class="card-title">Paying Guests</h4>
                </div>
                </div>             
        </div>
        <div class=" col-4" (click) = "selection = PROPERTY_TYPE.APARTMENT">
            <div class="card red accent-3  waves-effect waves-light">
                <div class="card-body">
                    <div class="avatar mx-auto text-center mb-2">
                        <img src="../assets/img/icons/apartment.png">
                      </div>
                    <h4 class="card-title">Appartment</h4>
                </div>
            </div>            
        </div>  
      </div>

      <div class="row">
        <!-- <div class=" col-4" (click) = "selection = PROPERTY_TYPE.SHOPS">
            <div class="card green accent-3">
                <div class="card-body">
                    <div class="avatar mx-auto text-center mb-2">
                        <img src="../assets/img/icons/shop.png">
                      </div>
                    <h4 class="card-title">Shops</h4>
                </div>
            </div>             
        </div> -->
        <!-- <div class=" col-4" (click) = "selection = PROPERTY_TYPE.WAREHOUSE">
            <div class="card cyan accent-3">
                <div class="card-body">
                    <div class="avatar mx-auto text-center mb-2">
                        <img src="../assets/img/icons/warehouse.png">
                      </div>
                    <h4 class="card-title">Ware House</h4>
                </div>
            </div>              
        </div> -->
        <!-- <div class="col-4" (click) = "selection = PROPERTY_TYPE.OFFICE_SPACE">
          <div class="card  deep-purple lighten-1">
            <div class="card-body">
              <div class="avatar mx-auto text-center mb-2">
                <img src="../assets/img/icons/office.png">
              </div>
              <h4 class="card-title">Office Space</h4>
            </div>
          </div>             
        </div>   -->
      </div>
    </div>
    <button (click)="propertyType = selection">Post for Renting...</button><!-- right bottom side of page -->
  </div>


  <div class="grey-bg parenthold ful_height pt-3 pb-3" [hidden] = "propertyType == null">
    <div class="container-fluid">
      <!-- for our reference keep this as commented we will remove later -->
      <!-- <ul class="nav main-tab-h text-center nav-mytabs mt-5" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" 
            href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="material-icons">home</i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="city-attractions-tab" data-toggle="tab" 
            href="#city-attractions" role="tab" aria-controls="city-attractions" aria-selected="false">
            <i class="material-icons">
              domain
              </i>Apartment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="history-tab" data-toggle="tab" 
            href="#history" role="tab" aria-controls="history" aria-selected="false">
            <i class="material-icons"> store_mall_directory</i>Paying Guest
          </a>
        </li>
      </ul> -->

      <!-- remove code written for tab selection, add this new code only -->
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card mb-4 p-0"> 
            <div class="tab-content " id="myTabContent">
              <div id="home" *ngIf="propertyType == PROPERTY_TYPE.HOME">
                <ng-property-home></ng-property-home> 
              </div>
              <div id="history" *ngIf="propertyType == PROPERTY_TYPE.PG">
                <ng-property-pg></ng-property-pg>
              </div>
                <!-- what is this crazy ... city-attractions , history 
                  if you from other source also not problem, 
                  please make nessacerry changes, so that not one should comes to know that 
                  content is copied....
                  copy/paste should be perfect.......
                -->
                <div  id="city-attractions" *ngIf="propertyType == PROPERTY_TYPE.APARTMENT">
                <ng-property-apartment></ng-property-apartment>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

