<ng-search-engine class="data-align-center" (onSearchInputsChanged)="onSearchInputChangedListener($event)">
</ng-search-engine>

<div class="parenthold grey-bg pt-4">
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <div class="col-md-3">
          <ng-search-filters (onFilterInputsChanged)="onFilterInputsChangedListener($event)" [propertyType]='propertyType'>
          </ng-search-filters>
        </div>
        <div class="col-md-7">

          <div *ngIf="propertiesExists; else propertyDoesnotExist">

            <div *ngIf="propertyType == PROPERTY_TYPE.HOME">
              <div *ngFor="let home of homeProperties | homeFilter: changedFilterInput">
                
                <div class="card bar-left-success">
                  <div class="ribbon-hold green">
                    <span>Ready to move</span>
                  </div>
                  <div class="property">
                    <div class="card-body d-flex ">
                      <div class="prop-img">
                      <app-photo-viewer [imagesList]="home.homePictures"></app-photo-viewer>
                    </div>
                      <div class="prop-details">
                        <div class="list-card-title">
                          <span class="header">
                              <a [routerLink]="['/property/home/', home.id]" target="_blank"> 
                                <b>{{homePropertyTypeOptionMap.get(home.spaceProperties.bhkLength)}}</b> 
                                rent for {{tenantMappedValue(home.tenant)}}
                                <small><i class="material-icons"> launch </i></small></a>
                          </span>
                          <small class="block">
                            <i class="material-icons">place</i>{{home.addressSpace.formattedAddress}}
                          </small>
                        </div>
                        <div class="list-detail my-2">
                          <div class="block-1">
                            <small>Deposite</small>
                            <span class="block">{{home.spaceProperties.deposit}}</span>
                          </div>
                          <div class="block-1">
                            <small>Rent</small>
                            <span class="block">{{home.spaceProperties.rent}}</span>
                          </div>
                          <div class="block-1">
                              <small>Plot area</small>
                              <span class="block">{{home.buildUpArea}} Sq.Ft</span>
                            </div>
                          <div class="block-1">
                            <small>Furnishing</small>
                            <span class="block">{{furnishedTypeOptionMap.get(home.spaceProperties.furnished)}}</span>
                          </div>
                        </div>
                        <div class="list-action">
                          <button type="button" class="btn btn-primary mb-0 ml-0">Contact owner</button>
                          <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                          <a href="#" class="shortlist"> <i class="material-icons">share</i></a>
                          <small class="btn-text">1 Month ago</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
  
             <div *ngIf="propertyType == PROPERTY_TYPE.PG">
              <div *ngFor="let pg of pgProperties | pgFilter: changedFilterInput">
                
                <div class="card bar-left-success">
                  <div class="ribbon-hold green">
                    <span>Ready to move</span>
                  </div>
                  <div class="property">
                    <div class="card-body d-flex">
                      <div class="prop-img "  >
                        <app-photo-viewer [imagesList]="pg.pgPictures"  ></app-photo-viewer>
                        <span class="lbl-hold"><i class="material-icons">photo_camera</i>4 Photos</span>
                      </div>
                      <div class="prop-details">
                        <div class="list-card-title">
                          <span class="header">
                            <b>{{pg.sharing}} Sharing PG</b>  in {{pg.name}} for
                            <span *ngIf="pg.type == 'BOYS' else girlsPg">Boys</span>
                            <ng-template #girlsPg>Girls</ng-template>
                          </span>
                          <small class="block"><i class="material-icons">place</i>{{pg.addressSpace.formattedAddress}}</small>
                        </div>
                        <div class="list-detail my-2">
                            <div class="block-1">
                                <small>Deposite</small>
                                <span class="block">{{pg.advance}}</span>
                              </div>
                          <div class="block-1">
                            <small>Rent</small>
                            <span class="block">{{pg.monthlyRent}}</span>
                          </div>
                          <div class="block-1">
                            <small>Food Service</small>
                            <span class="block">
                              <span *ngIf="pg.foodType == 'WITH_FOOD'; else pgWithOutFoodService">With Food</span>
                              <ng-template #pgWithOutFoodService>Without Food</ng-template>
                            </span>
                          </div>
                          <div class="block-1">
                            <small>Parking</small>
                            <span class="block">
                              <span *ngIf="pg.parking; else pgParkingNotAvailable">Yes</span>
                              <ng-template #pgParkingNotAvailable>No</ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="list-action">
                          <button type="button" class="btn btn-primary mb-0 ml-0">Contact owner</button>
                          <a href="#" class="shortlist"> <i class="material-icons">star_border</i></a>
                          <a href="#" class="shortlist"> <i class="material-icons">share</i></a>
                          <small class="btn-text">2days ago</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div> <!-- Property existed panel -->

          <ng-template #propertyDoesnotExist>
            <img src="../../../../assets/img/loading.gif" />
          </ng-template>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>
  