
<div class="header-main">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 col-xs-12">
          <ul class="links clearfix">
            <!-- <li><i class="lni-phone-handset"></i>1-800-555-1234</li> -->
            <li><i class="lni-envelope"></i> <a href="mailTo:contactus@renthunter.in" class="__cf_email__" data-cfemail="bad3d4dcd5fadfc2dbd7cad6df94d9d5d7"> contactus@renthunter.in</a></li>
            <li><a href="#"><i class="lni-map-marker"></i> Bangalore</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-3 col-xs-12">
          <div class="header-top-right float-right">
            <!-- [(isLoggedIn)]="isLoggedIn" -->
            <ng-log-in></ng-log-in>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Home page will be rendered here -->
<router-outlet></router-outlet>