
  <form [formGroup]="pgRegForm" id="pg-form" (submit)="submitPgPropetyData()">

    <div class="parent-hold" #wizardDiv>
      <!-- Nav tabs -->
      <div class="col-md-12 px-0 header-tabs">
        <ul class="steps-tabs-header">
          <li>
            <a href="#pg-details" onclick="return false;">
              <i class="material-icons"> home </i>
              PG Details
            </a>
          </li>
          <li>
            <a href="#pg-sharing-options" onclick="return false;">
              <i class="fa fa-sitemap material-icons" aria-hidden="true"></i>
              Sharing
            </a>
          </li>
          <li>
            <a href="#pg-amenities" onclick="return false;">
              <i class="material-icons">devices_other</i>
              Amenities
            </a>
          </li>
          <li>
            <a href="#g-price-board" onclick="return false;">
              <i class="fa fa-inr material-icons" aria-hidden="true"></i>
              Pricing
            </a>
          </li>
          <li>
            <a href="#pg-gallery" onclick="return false;">
              <i class="material-icons">camera_alt</i>
              Gallery
            </a>
          </li>
          <li>
            <a href="#pg-rules-board" onclick="return false;">
              <i class="material-icons"> assignment </i>
              PG Rules
            </a>  
          </li>
          <li>
              <a href="#pg-rules-board" onclick="return false;">
                <i class="material-icons"> assignment </i>
                Payment
              </a>  
            </li>
        </ul>
      </div>  <!--./Tab panels -->
      
      <div class="container  container-height">
        <div class="col-md-12 px-0 left my-4">
          <div class="steps-tabs-content">
            <!-- Panel 1 -->
            <div id="panel-pg-details">
              <div class="col-md-12 ">
                <div class="row mt-2">
                  <div class="col">
                    <div class="md-form form-group ">
                      <input type="text" class="form-control" id="name" 
                          placeholder="e.g. Lucky Gents PG" formControlName="name">
                      <label for="name" class="active">PayingGuest Name<span class="required"></span></label>
                      <span id="nameError" class="errors"></span>
                    </div>
                  </div>
                  
                  <div class="col">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="block">PG For<span class="required"></span></label>
                        <label class="radiobtn mr-3">
                          <input type="radio" name="type" value="BOYS" formControlName="type">Boys
                          <span class="checkmark"></span>
                        </label>
                        <label class="radiobtn">
                          <input type="radio" name="type" value="GIRLS" formControlName="type">Girls
                          <span class="checkmark"></span>
                        </label>
                        <span id="typeError" class="errors"></span>
                      </div>
  
                      <div class="col-md-6">
                        <label class="block">Food Service<span class="required"></span></label>
                        <label class="radiobtn mr-3">
                          <input type="radio" name="foodType" value="WITH_FOOD" formControlName="foodType">Available
                          <span class="checkmark"></span>
                        </label>
                        <label class="radiobtn">
                          <input type="radio" name="foodType" value="WITHOUT_FOOD" formControlName="foodType">Not Available
                          <span class="checkmark"></span>
                        </label>
                        <span id="foodTypeError" class="errors"></span>
                      </div>                        
                    </div>
                  </div>
                </div>
  
                <div class="row ">
                  <div class="col">
                    <div class="md-form form-sm">
                      <input type="text" id="street" class="form-control" formControlName="street">
                      <label for="street">Street / Home Number </label>
                    </div>
                  </div>
  
                  <div class="col">
                    <div class="md-form form-sm">
                      <input type="text" id="landMark" class="form-control" formControlName="landMark">
                      <label for="landMark">Land Mark</label>
                    </div>
                  </div>
                </div>
  
                <div class="row ">
                  <div class="col">
                    <div class="md-form form-sm">
                      <label for="pgAddressHolder" class="active">PG Located Address<span class="required"></span></label>
                      <input type="text" id="pgAddressHolder" class="form-control" formControlName="address" 
                        placeholder="Enter place name to select appropriate address" #pgAddressLocator>
                    </div>
                    <span id="pgAddressHolderError" class="errors"></span>
                    <small class="block">Note: for accurate result, select address from dropdown</small>

                    <!-- Hidden fields for fetching Google auto place address input -->
                    <div style="display: none;">
                      <input type="hidden" id="placeId" />
                      <input type="hidden" id="latitude" />
                      <input type="hidden" id="longitude" />
                      
                      <input type="hidden" id="street_number" />
                      <input type="hidden" id="route" />
                      <input type="hidden" id="sublocality_level_2" />
                      <input type="hidden" id="sublocality_level_1" />
                      <input type="hidden" id="locality" />
                      <input type="hidden" id="administrative_area_level_2" />
                      <input type="hidden" id="administrative_area_level_1" />
                      <input type="hidden" id="country" />
                      <input type="hidden" id="postal_code" />
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--/.Panel 1-->
  
            <!--Panel 2-->
            <div id="panel-pg-sharing-options">
              <div class="col-md-12 mt-2">
                <label class="block">Beds Available in room<span class="required"></span></label>
                <span *ngFor="let sharingItr of sharingOptions;">
                  <label class="checkbox ico {{sharingItr.imgClass}}">{{sharingItr.text}}
                    <input type="checkbox" [(ngModel)]="sharingItr.checked" 
                      [ngModelOptions]="{standalone: true}" (change)="onChangeOfSharing(sharingItr)">
                    <span class="checkmark"></span>
                  </label>
                </span>
              </div>
              <span id="sharingOptionsError" class="errors"></span>
            </div>
            <!--/.Panel 2-->
  
            <!--Panel 3-->
            <div id="panel-pg-amenities">
              <div class="form-hold mt-3 pb-0">
  
                <div class="col-md-12 form-group">
                  <div class="row">
                    <div class="col">
                      <label class="block mb-3">Parking</label>
                      <label class="radiobtn mr-4 mb-0">
                        <input type="radio" name="parking" formControlName="parking" value="true">Yes
                        <span class="checkmark"></span>
                      </label>
                      <label class="radiobtn mb-0">
                        <input type="radio" name="parking" formControlName="parking" value="false">No
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col">
                      <label class="block mb-3">Available Services</label>
                      <div class="row">                
                        <span *ngFor="let service of avaibleServices">
                          <div class="col">
                            <label class="checkbox mr-3">{{service.text}}
                              <input type="checkbox" name="services" [(ngModel)]="service.checked" [ngModelOptions]="{standalone: true}">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>  <!--/. Parking -->
  
                <div class="col-md-12">
                  <label class="block mb-3">Available Amenities</label>
                  <div class="row">
                    <span *ngFor="let amenityItr of amenitiesList;" class="col-md-4">
                        <label class="checkbox f-ico">
                          <i [class]="amenityItr.imgClass"></i>{{amenityItr.text}}
                          <input type="checkbox" name="amenities" [(ngModel)]="amenityItr.checked" [ngModelOptions]="{standalone: true}">
                          <span class="checkmark"></span>
                        </label>
                    </span>
                  </div>
                </div> <!--/. Available Amenities -->  
              
              </div>
            </div><!--/.Panel 3-->
  
            <!--  Panel 4 -->
            <div id="panel-pg-price-board">
              <div class="form-hold pb-0">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <div class="md-form form-sm">
                          <i class="fa fa-inr prefix"></i>
                        <input type="text" id="pg-7" class="form-control" name="advance" formControlName="advance">
                        <label for="pg-7">Security Deposit<span class="required"></span></label>
                      </div>
                      <span id="advanceError" class="errors"></span>
                    </div>
                    <div class="col">
                      <label class="block">Negotiable<span class="required"></span></label>

                      <label class="radiobtn mr-3">Yes
                        <input type="radio" name="negotiable" value="true" formControlName="negotiable">
                        <span class="checkmark"></span>
                      </label>

                      <label class="radiobtn mr-3">No
                        <input type="radio" name="negotiable" value="false" formControlName="negotiable">
                        <span class="checkmark"></span>
                      </label>
                      <span id="negotiableError" class="errors"></span>
                    </div>
                  </div>

                  <!-- Sharing Accouting .... -->
                  <div class="row mt-3">
                    <div class="col">
                      <label class="block">Sharing</label>
                    </div>
                    <div class="col">
                      <label class="block">Without food</label>
                    </div>
                    <div class="col">
                      <label class="block">With food</label>
                    </div>
                  </div>
  

                 

                  <!-- Rent estimation table for selected sharing type -->
                  <div formArrayName="sharingsTypeList" *ngFor="let sharing of pgRegForm.get('sharingsTypeList')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row mt-3">
                        <div class="col">
                          <label class="block">{{pgRegForm.controls.sharingsTypeList.controls[i].controls.sharingTypeText.value}}  Sharing</label>
                        </div>
                        <div class="col">
                          <div class="md-form form-sm">
                            <i class="fa fa-inr prefix"></i>
                            <input type="text" id="withFoodAmount{{i}}" class="form-control" formControlName="withFoodAmount" placeholder="1,000 /-">
                            <span id="withFoodAmount{{i}}Error" class="errors"></span>
                          </div>                                 
                        </div>
                        <div class="col">
                          <div class="md-form form-sm">
                            <i class="fa fa-inr prefix"></i>
                            <input type="text" id="withoutFoodAmount{{i}}" class="form-control" formControlName="withoutFoodAmount" placeholder="1,000 /-">
                            <span id="withoutFoodAmount{{i}}Error" class="errors"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  <!-- ./sharing type list -->
  
                </div>
              </div>
            </div>  <!--/.Panel 4 -->
  
            <!--  Panel 5 -->
            <div id="panel-pg-gallery">
              <app-photo-box (onPhohtoUpload)="photoUploadListener($event)"></app-photo-box>
            </div>  <!--/.Panel 5 -->
  
            <!--  Panel 6 -->
            <div id="panel-pg-rules-board">
              <div class="form-hold">
                <div class="col-md-12 ">
                  <div class="md-form form-sm">
                    <textarea type="text" id="textareaBasic" class="form-control md-textarea" rows="3"></textarea>
                    <label for="textareaBasic">Enter Rule here</label>
                  </div>
                </div>
              </div>
            </div>  <!--/.Panel 6 -->

            <!--  Panel 7 -->
            <div id="home-payment" class="form-hold">
              <div class="form-hold">
                <div class="col-md-12 ">
                  <div class="row">                        
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="pricing-table text-center">
                        <div class="table-header">
                          <h3>Premium Package</h3>
                        </div>
                        
                        <div class="plan">
                          <h3 class="price">$99</h3>
                          <p class="period">NO DISCOUNT ON RENEWAL</p>
                        </div>
                        
                        <div class="plan-info">
                          <p>
                            <strong><i class="lni-check-box"></i> Ad Visibility: 3 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Number of Ads: 15</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Featured Ads: 5</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">Get Started Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="pricing-table pricing-active text-center">
                        <div class="table-header">
                          <h3>Pro-Package</h3>
                        </div>
                        <div class="plan">
                          <h3 class="price">$199</h3>
                          <p class="period">10% Discount on renewal</p>
                        </div>
                        
                        <div class="plan-info">
                          <p>
                            <strong><i class="lni-check-box"></i> Ad Visibility: 5 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Number of Ads: 50</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Featured Ads: 10</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">Get Started Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="pricing-table text-center">
                        <div class="table-header">
                          <h3>Unlimited Package</h3>
                        </div>
                        <div class="plan">
                          <h3 class="price">$999</h3>
                          <p class="period">20% Discount on renewal</p>
                        </div>
                        <div class="plan-info">
                          <p>
                            <strong><i class="lni-check-box"></i> Ad Visibility: 12 Months</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Number of Ads: 100</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <p>
                            <strong><i class="lni-check-box"></i> Featured Ads: 30</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </p>
                          <div class="button-area">
                            <a href="#" class="btn btn-common btn-lg">Get Started Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Panel 7 -->

          </div>
        </div>
      </div>


      <div class="col-md-12 pagination p-0">
        <div><span class="errors" id="errorMessages">Application error : </span></div>
        <div class="botton-hold mt-3 parenthold text-right">
          <button type="button" id="previous" class="btn btn-secondary ml-0 my-0">Previous</button>
          <button type="button" id="next" class="btn btn-primary ml-0 my-0">Next</button>
          <input type="submit" id="finished" class="btn btn-primary my-0" value="Finish">
        </div>
      </div>

    </div>  <!--./ wizards end -->
  </form>