
  <!-- Search page filter options -->
  <div class="">
    <div class="search-filter smooth-scroll">
      <ul class="nav nav-tabs">
        <li>
          <div class="clearfix">
            <div class="float-left">
              <label class="lbl-main">Basic Filter</label>
            </div>
            <div class="float-right">
              <a routerLink="#" class="clear-text" (click)="resetFilter()"><i class="fa fa-undo"></i> Clear all</a>
            </div>
          </div>
        </li>
      </ul>

      <div *ngIf="propertyType == null || propertyType == ''; else filterPanel" class="text-center load-gif my-3">
        <img src="../../../../assets/img/loading.gif" />
        <span>Loading...</span>
      </div>

      <!-- Basic Search Filter and Advance Search Filter panel  -->
      <ng-template #filterPanel>

        <div *ngIf="propertyType == PROPERTY_TYPE.HOME">
          <form #homeForm="ngForm" (change)="onHomeFilterChange()">          
            <div class="filterhold">
              <div class="basic-filter" id="filter-home">

                <label class="lbl-list"> Tenant type</label>
                <label class="checkbox" *ngFor="let tenantItr of tenantOptionList">
                  {{tenantItr.text}}
                  <input type="checkbox" name="tenants" [(ngModel)]="tenantItr.checked">
                  <span class="checkmark"></span>
                </label>

                <div class="clear"></div>

                <label class="lbl-list">Select type</label>
                <label class="checkbox" *ngFor="let bhkItr of bhkLengthOptionList">
                  {{bhkItr.text}}
                  <input type="checkbox" name="bhkLength" [(ngModel)]="bhkItr.checked">
                  <span class="checkmark"></span>
                </label>

                <div class="clear"></div>

                <label class="lbl-list">Budget Range</label>
                <label>
                  <input type="text" size="5" name="minRate" [(ngModel)]="homeFilter.minRate" />
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="text" size="5" name="maxRate" [(ngModel)]="homeFilter.maxRate"/>
                </label>

                <div class="clear"></div>

                <label class="lbl-list">Furnishing</label>
                <label class="checkbox" *ngFor="let furnishedItr of furnishedOptionList">
                  {{furnishedItr.text}}
                  <input type="checkbox" name="furnished" [(ngModel)]="furnishedItr.checked">
                  <span class="checkmark"></span>
                </label>
                
                <div class="clear"></div>
              </div>
              
              <div class="clear"></div>

              <!-- Accordion card -->
              <!-- Card header -->
              <div class="row" role="tab" id="headingOne1">
                <a data-toggle="collapse" class="advance-filter" data-parent="#accordionEx1" 
                    href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" target="filter-home">
                  Advanced Filters <i class="fa fa-angle-double-up pull-right" aria-hidden="true"></i>
                </a>
              </div>
                
              <div class="advance-filter-hold" id="filter-home-advance-panel">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                  <!-- Card body -->
                  <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" 
                      data-parent="#accordionEx1">
                    <div class="pb-3">
                      <label class="lbl-list">Floor</label>
                      <label class="checkbox" *ngFor="let floorsItr of floorsOptionList">
                        {{floorsItr.text}}
                        <input type="checkbox" name="floors" [(ngModel)]="floorsItr.checked">
                        <span class="checkmark"></span>
                      </label>
                      
                      <div class="clear"></div>

                      <label class="lbl-list">Amenties</label>

                      <label class="checkbox" *ngFor="let amenitiesItr of amenitiesOptionList">
                        {{amenitiesItr.text}}
                        <input type="checkbox" name="amenities" [(ngModel)]="amenitiesItr.checked">
                        <span class="checkmark"></span>
                      </label>

                      <div class="clear"></div>
                      
                      <label class="lbl-list checkbox">Security Gaurd
                        <input type="checkbox" name="securityGuard" [(ngModel)]="homeFilter.securityGuard" />
                        <span class="checkmark"></span>
                      </label>

                      <div class="clear"></div>

                      <label class="lbl-list">Parking</label>
                      <label class="checkbox" *ngFor="let parkingItr of parkingOptionList">
                        {{parkingItr.text}}
                        <input type="checkbox" name="parking" [(ngModel)]="parkingItr.checked">
                        <span class="checkmark"></span>
                      </label>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
        <!-- PG Propert Filter -->
        <div *ngIf="propertyType == PROPERTY_TYPE.PG">
          <form #pgForm="ngForm" (change)="onPgFilterChange()">
            <div class="filterhold">
              <div class="basic-filter" id="filter-pg">
                <label class="lbl-list">PG Type</label>
                <label class="checkbox" *ngFor="let typeItr of pgTypeOptions; let i = index">
                  {{typeItr.text}}
                  <input type="checkbox" name="pgType" [(ngModel)]="typeItr.checked">
                  <span class="checkmark"></span>
                </label>                  
              
                <label class="lbl-list">Budget Range</label>
                <label>
                  <input type="text" size="5" name="minRate" [(ngModel)]="pgFilter.minRate" />
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="text" size="5" name="maxRate" [(ngModel)]="pgFilter.maxRate"/>
                </label>

                <div class="clear"></div>

                <label class="lbl-list">Sharing</label>
                <label class="checkbox" *ngFor="let sharingItr of sharingOptions; let i = index">
                  {{sharingItr.text}} 
                  <input type="checkbox" name="sharing" [(ngModel)]="sharingItr.checked">
                  <span class="checkmark"></span>
                </label>

                <div class="clear"></div>

                <label class="lbl-list">Food Service</label>
                <label class="checkbox">Without Food
                  <input type="checkbox" name="withoutFood" [(ngModel)]="pgFilter.withoutFood">
                   <span class="checkmark"></span>
                </label>
                <label class="checkbox">With Food
                    <input type="checkbox" name="withFood" [(ngModel)]="pgFilter.withFood">
                  <span class="checkmark"></span>
                </label>
              </div>
              
              <div class="clear"></div>

              <!-- Accordion card -->
              <!-- Card header -->
              <div class="row" role="tab" id="headingOne2">
                <a data-toggle="collapse" class="advance-filter" data-parent="#accordionEx2" 
                    href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2" target="filter-pg">
                  Advanced Filters <i class="fa fa-angle-double-down pull-right" aria-hidden="true"></i>
                </a>
              </div>
              
              <div class="advance-filter-hold" id="filter-pg-advance-panel">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">
                  
                  <!-- Card body -->
                  <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2" 
                      data-parent="#accordionEx2">
                    <div class="pb-3">

                      <br/>
                      <label class="checkbox">CC TV
                        <input type="checkbox" name="cctv" [(ngModel)]="pgFilter.cctv">
                        <span class="checkmark"></span>
                      </label>
                      <br/>
                      <label class="checkbox">Security Gaurd
                        <input type="checkbox" name="securityGaurd" [(ngModel)]="pgFilter.securityGaurd">
                        <span class="checkmark"></span>
                      </label>
                      <br/>
                      <label class="lbl-list">Amenties</label>
                      <label class="checkbox">Gym
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>
                      <label class="checkbox">Lift
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>
                      <label class="checkbox">AC
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>
                      <label class="checkbox">Hot water
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                      </label>

                      <div class="clear"></div>
                      
                      <label class="checkbox">Parking
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>  <!-- Accordion wrapper -->
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>