.search-panel ul {
    list-style: none;
}

.search-panel ul li {
    cursor: pointer;
    display: inline;
    font-weight: bolder;
    padding: 10px 25px 10px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(191, 188, 193, 0.5);
}

.search-panel ul li:hover, .active  {
    color:black;
    font-weight: bolder;
    border-bottom: 1px solid whitesmoke;
   
}



.wrapper {
    position: relative;
    width: 75%;
}

input {
    float: left;
    box-sizing: border-box;
    padding-right: 80px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.nav-icon  {
  position: relative;
  top: 0px;
  margin-right: 100px;
}

.nav-search-panel {
  display: inline-block;
}
