<!-- Search input panel in Home page  -->
<div [hidden]="!isHomePage">

  <app-header></app-header>

  <div class="bannerhold">
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/slide1.jpg" alt="First slide">
        </div>

        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/slide2.jpg" alt="Second slide">
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>

  <!-- search panel -->
  <div class="parenthold">
    <div class="container">
      <ul class="toggle-tabs search-tab">
        <li><a href="#" class="active" (click)="propertyType = PROPERTY_TYPE.HOME">Home</a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.PG">PG</a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.APARTMENT">Apartment</a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.OFFICE_SPACE">Office Space</a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.SHOPS">Shops</a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.WAREHOUSE">Warehouse / Godown </a></li>
        <li><a href="#" (click)="propertyType = PROPERTY_TYPE.PARTY_HALL">Party Hall</a></li>
      </ul>
      <div class="searchbody">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input id="addressHolder1" type="text" class="form-control" 
              placeholder="Enter Property Name, Keywords or Adress" #addressLocator1>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="banner-btn" (click)="redirectSearchRequest()">
              <i class="lni-search"></i> Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- For Search Result Rendering pages -->
<!-- Search input panel in other pages -->
<nav class="navbar navbar-dark   flex-md-nowrap  sticky-top" [hidden]="isHomePage">
  <div class="container">
    <div class="headerhold">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/rhntr.jpg">
      </a>
      <button class="navbar-toggler d-md-none mt-1 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="sub_searchhold">
        <select class="search-main">
          <option>Home</option>
          <option>Paying Guest</option>
          <option>Apartment</option>
          <option>Office Space</option>
        </select>

        <input type="text" id="addressHolder2" class="form-control"
            name="addressHolder2" autocomplete="off" placeholder="Search" 
            [(ngModel)]="formattedAddress" #addressLocator2 />
        <button class="btn search-btn" type="submit" (click)="searchRequest()">
            <i class="lni-search"></i>Search
        </button>
      </div>
      <div class="handburger">
        <a href="javascript:void(0);" class="navbar-toggle" title='Menu'>
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </a>
      </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </div>

  <div class="sidenav" id="nav-hold">
    <a href="/" class="logosm-hold-open"><span></span></a>
    <div class="menu-container menu-items">      
        <ul  class="mainlist">          
          <li><a href="#">Home</a></li>
          <li class="ananymous"><a href="#">Listing</a></li>
          <li><a href="#">Property</a></li>
          <li><a href="#">Gallery</a></li>         
          <li><a href="#">Pages</a></li>      
          <li><a href="#">Blog</a></li>    
          <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
  </div>
</nav>

<div style="display: none;">
  Main fields of Google place api for our application place_id geometry.location.lat geometry.location.lng street_number route
  sublocality_level_2 sublocality_level_1 locality administrative_area_level_2 administrative_area_level_1 country postal_code
</div>

<input type="hidden" id="placeId" />
<input type="hidden" id="latitude" />
<input type="hidden" id="longitude" />

<input type="hidden" id="street_number" />
<input type="hidden" id="route" />
<input type="hidden" id="sublocality_level_2" />
<input type="hidden" id="sublocality_level_1" />
<input type="hidden" id="locality" />
<input type="hidden" id="administrative_area_level_2" />
<input type="hidden" id="administrative_area_level_1" />
<input type="hidden" id="country" />
<input type="hidden" id="postal_code" />
