<app-header></app-header>

<div class="static-banner">
  <div class="container d-flex">
    <h2>About us</h2>
  </div>
</div>
<div class="container static-page py-4">
  <p>Renthunter is a platform where you can find a Home, PG, Flats easily at your desired place acording to the need,
    without paying for brokerage .
    We provide a hassel free environment for both owner and the tenents . We have various of types of properties across
    Bangalore .</p>
  <p>As our tagline says "step in through browsing" you can make a move by just entering the location to get various
    types of properties in bangalore on your screen.
    with renthunter promo offer now owner can use a trial period of 30 days to get a tenants faster then ever, Our team
    will help you to get register with rent hunter incase you struct in filling a form, </p>
  <p>just drop a mail to <a href="#" class="primary-text">contactus@renthunter.in</a> or call us on the number given on
    the home page you will get assistance in within a minute with 24/7 support.
    in case of any technical support write us a <a href="#" class="primary-text">support@renthunter.in</a> .</p>
</div>
<div class="parenthold">
  <footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">About
            <span>Us</span>
          </h3>
          <ul class="footer-link">
            <li>
              <a href="#">Company</a>
            </li>
            <li>
              <a href="#">Team</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <h3 class="footer-titel">Usefull
                                <span> Links</span>
                            </h3>
                            <ul class="footer-link">
                                <li>
                                    <a href="#">Bayonne, New York</a>
                                </li>
                                <li>
                                    <a href="#">Greenville, Chicago</a>
                                </li>
                                <li>
                                    <a href="#">The Heights, New Jersey</a>
                                </li>
                                <li>
                                    <a href="#">Bayonne, Washington DC</a>
                                </li>
                                <li>
                                    <a href="#">Greenville, San Francisco</a>
                                </li>
                            </ul>
                        </div> -->
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Contact
            <span>us</span>
          </h3>
          <ul class="address">
            <li>
              <a href="#">
                <i class="lni-phone-handset"></i> (518) 2014-040 43</a>
            </li>
            <li>
              <a href="#">
                <i class="lni-envelope"></i>
                <span class="__cf_email__" data-cfemail="f49c9198989bb4918c9599849891da979b99">[email&#160;protected]</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-titel">Connect
            <span>us</span>
          </h3>
          <div class="social-icon">
            <a class="facebook" href="#">
              <i class="lni-facebook-filled"></i>
            </a>
            <a class="twitter" href="#">
              <i class="lni-twitter-filled"></i>
            </a>
            <a class="instagram" href="#">
              <i class="lni-instagram-filled"></i>
            </a>
            <a class="linkedin" href="#">
              <i class="lni-linkedin-filled"></i>
            </a>
          </div>
        </div>
        <a href="#" class="back-to-top">
          <i class="lni-chevron-up"></i>
        </a>
      </div>
    </div>
  </footer>
</div>