<app-header></app-header>
<div class="containerhold">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="pro-avatar">
          <img class="" src="../assets/img/profile/avatar.png">
        </div>
        <h5 class="username">Marlon Cooke</h5>
        <div class="row">
        <div class="col-md-12 mt-2">
        <input type="file"  id="file-1" class="uploadfile" />
				<label for="file-1"><span> <i class="fa fa-upload mr-1  btn-primary" aria-hidden="true"></i>Upload photo</span></label>
        </div>
      </div>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs profile" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="profile-overview" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="savedlist" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Saved properties</a>
          </li>
        </ul>
        <div class="tab-content " id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-overview">
            <div class="row">
              <div class="col">
                  <div class="md-form form-group form-sm">
                      <input type="text" class="form-control" id="name"  formControlName="name" value="RobertMarlon Cooke">
                      <label for="name" >Username<span class="required"></span></label>
                      <span id="nameError" class="errors"></span>
                    </div>
              </div>
              <div class="col">
                  <div class="md-form form-group form-sm">
                      <input type="text" class="form-control" id="number"  formControlName="phone" value="9874563210">
                      <label for="name" >Phone number<span class="required"></span></label>
                      <span id="nameError" class="errors"></span>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form form-group form-sm">
                        <input type="text" class="form-control" id="email"  formControlName="email" value="RobertMarlon@gmail.com">
                        <label for="name" >Email ID<span class="required"></span></label>
                        <span id="nameError" class="errors"></span>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="my-3 col-md-12  text-left">
                    <button class="btn  btn-primary mx-0 "  type="submit">Submit</button>
                </div>
            </div>
          </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="savedlist">Saved list</div>
          
        </div>
      </div>
    </div>
  </div>