.containerhold{padding: 25px 0;}
.containerhold .pro-avatar{width: 100%;overflow: hidden;max-height: 225px;border-radius: 10px;margin-bottom:10px;}
.containerhold .pro-avatar img{width: 100%;height: auto;}
.containerhold .username{font-size: 22px;font-weight: 600;}
.profile.nav-tabs{border-width: 2px;margin: auto 0;} 
.profile li.nav-item a{font-size: 16px;font-weight: 500;border-width:0 0 2px 0; border-style:solid;border-color:#dee2e6;margin-bottom: -1px}
.profile li.nav-item a.nav-link.active{border-color: #FF5733;}
.containerhold .tab-content{padding: 20px;}
.uploadfile{    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;}
    .uploadfile + label {
        color: #fff;
        background-color: #FF5733;
        padding: 10px 15px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        line-height: 20px;
    }
    