.main-lbl{font-size: 18px;font-weight: 600;float: left;    margin:14px 15px 14px 0;}
.uploadfile {    width: 0.1px;    height: 0.1px;    opacity: 0;    overflow: hidden;    position: absolute;    z-index: -1;}
.uploadfile + label {    cursor: pointer;    display: inline-block;    padding: 8px 18px;    border-radius: 3px;    color: #ffffff;    background: #FF5733;}
.imghold .img{width:100%;height: auto;align-self: top;}
.imghold{   display: flex; border: 1px solid #e0dbdb;max-height: 200px;height:100%;overflow: hidden;position: relative;}
.close-btn{position: absolute;cursor: pointer;
    top: 0;
    right: 0;
    border: 0;
    padding: 0 5px;
    height: 22px;
    min-height: auto;
    background: rgba(0, 0, 0, 0.5803921568627451);
    color: #fff;}
    .close-btn i{font-size: 16px;}




    #property-galary .item-thumb a img{border-radius: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    right: 0;cursor: zoom-in;}
    #property-galary  .item-thumb{height:300px;}
    #property-galary .owl-buttons .owl-prev{position: absolute;left:0;top:50%;font-size:0;margin-top:-17px;}
    #property-galary .owl-buttons .owl-next{position: absolute;right:0;top:50%;font-size:0;margin-top:-17px;}
    #property-galary .owl-buttons .owl-prev:before{content: "\f104";font:normal normal normal 24px/1 FontAwesome !important;background: #ece9e9;padding: 5px 8px;}
    #property-galary .owl-buttons .owl-next::before{content: "\f105";font-size: 18px;font:normal normal normal 24px/1 FontAwesome !important;background: #ece9e9;padding: 5px 8px;}
    .lbl-hold{position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 2px 8px;
      font-size: 13px !important;z-index: 0;}
       .lbl-hold i{font-size: 16px;
        position: relative;
        top: 3px;
        margin-right: 3px}
  .container-height{height:350px;overflow: auto;}
  .md-form .prefix~input{margin-left:0 !important;padding-left:1.8rem !important;}
  .md-form label{top: 0.4rem;}
  .static-banner{background: url(/assets/img/static-banner.jpg) no-repeat;min-height: 200px;background-size: cover;background-position:100% 0;display: flex;}
  .static-page{font-family: 'Roboto', sans-serif;}
  .static-banner h2{align-self: center;color: #fff;
      font-size: 32px;
    font-weight: 500;}	
    .photo-galery .modal-body{padding: 0;}
  .photo-galery .close{background-image: url(/assets/img/closeModal_white.png);width: 30px;
      height: 30px;
      background-size: 30px;
      right: 15px;
      top: 15px;
      position: relative;}
  .photo-galery .close:hover{opacity: 1;}
  .photo-galery a.carousel-control-prev{    border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      width: 20px;
      height: 20px;
      margin-top: 10px;transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);left: -100px;border-radius: 0;}
  .hint{font-size: 12px;
      display: block;
      text-align: right;
      color: #757575;}