
<div class="row">
  <div class="col-md-12 upload-image mb-4">
    <h4 class="main-lbl left">Upload property images</h4>
      <input type="file" (change)="fileSelected($event)" id="file-1" class="uploadfile"/>
      <label for="file-1" class="btn btn-primary right" ><i class="fa fa-upload" aria-hidden="true"></i> <span>Upload images</span></label>
    </div>
</div>

<div class="row property-imghold" *ngIf="imagesList">
  <div class="col-md-3 mb-4 boxhold" *ngFor="let imgItr of imagesList; let i = index;">
    <div class="imghold">
        <img src="{{imgItr.fileDownloadUri}}" width="100%" height="auto"/>
        <label>{{imgItr.originalFileName}}</label>
        <button class="close-btn" (click)="removeImage(i)"><i class="material-icons">close</i></button>
    </div>
  </div>
</div>