
  <form [formGroup]="apartmentRegForm" id="apartment-form" (submit)="submitPropetyData()">

    <div class="parent-hold" #wizardDiv>  
        <div class="col-md-12 header-tabs">
          <ul class="steps-tabs-header">
            <li>
              <a href="#apartment-details" onclick="return false;">
                <i class="material-icons"> home </i>
                Apartment Details
              </a>
            </li>
            <li>
              <a href="#apartment-tenant-type" onclick="return false;">
                <i class="fa fa-sitemap material-icons" aria-hidden="true"></i>
                Tenant Type 
              </a>
            </li>
            <li>
              <a href="#apartment-amenities" onclick="return false;">
                <i class="material-icons">devices_other</i>
                Amenities
              </a>
            </li>
            <li>
              <a href="#apartment-price-board" onclick="return false;">
                <i class="fa fa-inr material-icons" aria-hidden="true"></i>
                Pricing
              </a>
            </li>
            <li>
              <a href="#apartment-gallery" onclick="return false;">
                <i class="material-icons">camera_alt</i>
                Gallery
              </a>
            </li>
            <li>
              <a href="#apartment-rules-board" onclick="return false;">
                <i class="material-icons"> assignment </i>
                Apartment Rules
              </a>  
            </li>
            <li>
                <a href="#apartment-payment" onclick="return false;">
                  <i class="material-icons"> assignment </i>
                  Payment
                </a>  
              </li>
          </ul>
        </div>  <!--./Tab panels -->
        <div class="container container-height">
        <div class="col-md-12 px-0 left">
          <div class=" steps-tabs-content ">

            <div id="apartmentDetails" class="form-hold">
              <div class="row">
                <div class="col-md-9">
                  <div class="md-form form-sm">
                    <input type="text" id="name" class="form-control"  formControlName="name">
                    <label for="name">Apartment Name <span class="required"></span></label>
                    <span id="nameError" class="errors"></span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form-sm">
                    <input type="text" id="constructedOn" class="form-control" formControlName="constructedOn">
                    <label for="constructedOn" class="active">Date of Construction <span class="required"></span></label>
                    <span id="constructedOnError" class="errors"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="md-form form">
                    <input type="text" id="street" class="form-control" formControlName="street">
                    <label for="street">Street / Home Number <span class="required"></span></label>
                    <span id="streetError" class="errors"></span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form">
                    <input type="text" id="landMark" class="form-control" formControlName="landMark">
                    <label for="landMark">Land Mark <span class="required"></span></label>
                    <span id="landMarkError" class="errors"></span>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="col">
                  <div class="md-form form-sm">
                    <label for="apartmentAddressHolder" class="active">Apartment Address <span class="required"></span></label>
                    <input type="text" id="apartmentAddressHolder" class="form-control" formControlName="address"
                      placeholder="Enter place name to select appropriate address"  #apartmentAddressLocator>                      
                  </div>
                  <span id="apartmentAddressHolderError" class="errors"></span>
                  <small class="block">Note: for accurate result, select address from dropdown</small>

                  <!-- Hidden fields for fetching Google auto place address input -->
                  <div style="display: none;">
                    <input type="hidden" id="placeId" />
                    <input type="hidden" id="latitude" />
                    <input type="hidden" id="longitude" />                    
                    <input type="hidden" id="street_number" />
                    <input type="hidden" id="route" />
                    <input type="hidden" id="sublocality_level_2" />
                    <input type="hidden" id="sublocality_level_1" />
                    <input type="hidden" id="locality" />
                    <input type="hidden" id="administrative_area_level_2" />
                    <input type="hidden" id="administrative_area_level_1" />
                    <input type="hidden" id="country" />
                    <input type="hidden" id="postal_code" />
                  </div>                    
                </div>
              </div>
            </div>

            <div id="rentDetails" class="form-hold">
              <div class="row">
                <div class="col-md-12">
                  <label class="block">Select the Tenant Type <span class="required"></span></label>
                  <label class="checkbox ico male mr-2 mb-2">Male Bachelor
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox ico female mr-2 mb-2">Female Bachelor
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox ico family mb-2">Family
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox ico family_any mb-2">Any
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <span id="tenantError" class="errors"></span>
              </div>

              <div class="row ">
                <div class="col">
                  <label class="block mt-2 mb-0">Select BHK <span class="required"></span></label>
                  <select class="mdb-select md-form" formControlName="bhkLength">
                    <option value="" disabled selected>Select BHK</option>
                    <option value="RK">1 RK</option>
                    <option value="ONE_BHK">1 BHK</option>
                    <option value="TWO_BHK">2 BHK</option>
                    <option value="THREE_BHK">3 BHK</option>
                    <option value="FOUR_BHK">4 BHK</option>
                    <option value="ANY_BHK">5+ BHK</option>
                  </select>
                  <span id="bhkLengthError" class="errors"></span>
                </div>

                <div class="col mt-2 pt-2">
                  <div class="md-form form-sm">
                    <input type="text" id="buildUpArea" class="form-control" formControlName="buildUpArea">
                    <label for="buildUpArea">Built up area in SQFT <span class="required"></span></label>
                    <span id="buildUpAreaError" class="errors"></span>
                  </div>
                </div>  
              </div>

              <div class="row">
                <div class="col">
                  <label class="block mt-2 mb-0">Furnishing</label>
                  <select class="form-control" class="mdb-select md-form mt-0" formControlName="furnished">
                    <option value="" disabled selected>Furnishing</option>
                    <option value="UNFURNISHED">UnFunrnised</option>
                    <option value="SEMI_FURNISHED">Semi-Funrnised</option>
                    <option value="FULL_FURNISHED">Full-Funrnised</option>
                  </select>
                </div>

                <div class="col">
                  <label class="block mt-2 mb-0">Floor</label>
                  <select class="form-control" class="mdb-select md-form mt-0" formControlName="floor">  
                    <option value="" disabled selected>Floor </option>
                    <option value="0"> Ground Floor</option>
                    <option value="1"> 1st Floor </option>
                    <option value="2"> 2nd Floor </option>
                    <option value="3"> 3rd Floor </option>
                    <option value="4"> 4th Floor </option>
                    <option value="5"> 5th Floor </option>
                    <option value="6"> 6th Floor </option>
                    <option value="7"> 7th Floor </option>
                    <option value="8"> 8th Floor </option>
                    <option value="9"> 9th Floor </option>
                    <option value="10"> 10th+ Floor </option>
                  </select>
                </div>

                <div class="col">
                  <label class="block mt-2 mb-0">Facing</label>
                  <select class="form-control" class="mdb-select md-form mt-0" formControlName="facing">
                    <option value="" disabled selected>Facing</option>
                    <option value="EAST">East</option>
                    <option value="WEST">West</option>
                    <option value="NORTH">North</option>
                    <option value="SOUTH">South</option>
                    <option value="NORTH_EAST">North-East</option>
                    <option value="SOUTH_EAST">South-East</option>
                    <option value="NORTH_WEST">North-west</option>
                    <option value="SOUTH_WEST">South-West</option>
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-2">
                  <label class="checkbox">Non-Veg
                    <input type="checkbox" formControlName="nonVegAllowed">
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="col">
                  <label class="checkbox">Pets Allowed
                    <input type="checkbox" formControlName="petsAllowed">
                    <span class="checkmark"></span>
                  </label>
                </div>                    
              </div>
            </div>

            <div id="ameneties" class="form-hold">
              <div class="row">
                <div class="col">
                  <label class="block">Parking <span class="required"></span></label>
                  <label class="radiobtn mr-4 mb-0">
                    <input type="radio" name="parking" value="true" formControlName="parking">Yes
                    <span class="checkmark"></span>
                  </label>
                  <label class="radiobtn mb-0">
                    <input type="radio" name="parking" value="false" formControlName="parking">No
                    <span class="checkmark"></span>
                  </label>
                </div>
                <span id="parkingError" class="errors"></span>
              </div>

              <div class="row">
                <div class="col mt-3">
                    <label class="block">Available Amenities</label>
                    <div class="row">
                        <div *ngFor="let amenityItr of amenitiesList;" class="col-md-4">
                            <label class="checkbox f-ico">
                              <i [class]="amenityItr.imgClass"></i>{{amenityItr.text}}
                              <input type="checkbox" name="amenities" [(ngModel)]="amenityItr.checked" [ngModelOptions]="{standalone: true}">
                              <span class="checkmark"></span>
                            </label>
                          </div> 
                    </div>
                  </div>  
              </div>
            </div>

            <div id="pricing" class="form-hold">
              <div class="row">
                <div class="col">
                  <div class="md-form form-sm">
                    <i class="fa fa-inr prefix"></i>
                    <input type="text" id="rent" class="form-control" formControlName="rent">
                    <label for="rent">Rent amount <span class="required"></span></label>
                    <span id="rentError" class="errors"></span>
                    <span class="hint">Months</span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form-sm"> <i class="fa fa-inr prefix"></i>
                    <input type="text" id="deposit" class="form-control" formControlName="deposit">
                    <label for="deposit">Deposit <span class="required"></span></label>
                    <span id="depositError" class="errors"></span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form-sm"> <i class="fa fa-inr prefix"></i>
                    <input type="text" id="advanceBookingAmount" class="form-control" formControlName="advanceBookingAmount">
                    <label for="advanceBookingAmount">Advance booking amount <span class="required"></span></label>
                    <span id="advanceBookingAmountError" class="errors"></span>
                  </div>  
                </div>                  
              </div>

              <div class="row">
                <div class="col">
                  <div class="md-form form-sm">
                      <i class="fa fa-inr prefix"></i>
                    <input type="text" id="maintainanceCharge" class="form-control" formControlName="maintainanceCharge">
                    <label for="maintainanceCharge">Maintenance Charge <span class="required"></span></label>
                    <span id="advanceBookingAmountError" class="errors"></span>
                    <span class="hint">Months</span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form-sm">
                    <input type="text" id="agreemantDuriation" class="form-control" formControlName="agreemantDuriation">
                    <label for="agreemantDuriation">Agreement Duration <span class="required"></span></label>
                    <span id="agreemantDuriationError" class="errors"></span>
                    <span class="hint">Year</span>
                  </div>
                </div>

                <div class="col">
                  <div class="md-form form-sm">
                    <input type="text" id="leavingIntimation" class="form-control" formControlName="leavingIntimation">
                    <label for="leavingIntimation">Intimation Before Leaving <span class="required"></span></label>
                    <span id="leavingIntimationError" class="errors"></span>
                    <span class="hint">Atleast before 3 months</span>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-3">
                  <label class="checkbox">Negotiable <span class="required"></span>
                    <input type="checkbox" formControlName="negotiable">
                    <span class="checkmark"></span>
                    <span id="negotiableError" class="errors"></span>
                  </label>
                </div>

                <div class="col-3">
                  <label class="checkbox">Deposit Refundable <span class="required"></span>
                    <input type="checkbox" formControlName="depositRefundable">
                    <span class="checkmark"></span>
                  </label>
                </div>                  
              </div>

              <div class="row mt-3">
                <div class="col">
                  <div class="md-form form-sm">
                    <input type="text" id="deductionDescription" class="form-control">
                    <label for="deductionDescription">Enter Deposit Deduction Details</label>
                  </div>
                </div>
              </div>
            </div>  <!--/.Panel 4 -->

            <!--  Panel 5 -->
            <div id="galary" class="form-hold">
              <app-photo-box></app-photo-box>
            </div>  <!--/.Panel 5 -->

            <!--  Panel 6 -->
            <div id="housingRules" class="form-hold">
              <div class="row">
                <div class="col-12">
                  <div class="md-form form-sm">
                    <textarea type="text" id="textareaBasic" class="form-control md-textarea" rows="3"></textarea>
                    <label for="textareaBasic">Enter Rule here</label>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Panel 6 -->
                        <!--  Panel 7 -->
                        <div id="apartment-payment" class="form-hold">
                            <div class="form-hold">
                                <div class="col-md-12 ">
                                              <div class="row">                        
                                                  <div class="col-lg-4 col-md-6 col-xs-12">
                                                      <div class="pricing-table text-center">
                                                          <div class="table-header">
                                                              <h3>
                                                                  Premium Package
                                                              </h3>
                                                          </div>
                                                          <div class="plan">
                                                              <h3 class="price">
                                                                  $99
                                                              </h3>
                                                              <p class="period">
                                                                  NO DISCOUNT ON RENEWAL
                                                              </p>
                                                          </div>
                                                          <div class="plan-info">
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Ad Visibility: 3 Months</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Number of Ads: 15</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Featured Ads: 5</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <div class="button-area">
                                                                  <a href="#" class="btn btn-common btn-lg">
                                                                      Get Started Now
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                      
                                                  <div class="col-lg-4 col-md-6 col-xs-12">
                                                      <div class="pricing-table pricing-active text-center">
                                                          <div class="table-header">
                                                              <h3>
                                                                  Pro-Package
                                                              </h3>
                                                          </div>
                                                          <div class="plan">
                                                              <h3 class="price">
                                                                  $199
                                                              </h3>
                                                              <p class="period">
                                                                  10% Discount on renewal
                                                              </p>
                                                          </div>
                                                          <div class="plan-info">
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Ad Visibility: 5 Months</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Number of Ads: 50</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Featured Ads: 10</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <div class="button-area">
                                                                  <a href="#" class="btn btn-common btn-lg">
                                                                      Get Started Now
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                      
                                                  <div class="col-lg-4 col-md-6 col-xs-12">
                                                      <div class="pricing-table text-center">
                                                          <div class="table-header">
                                                              <h3>
                                                                  Unlimited Package
                                                              </h3>
                                                          </div>
                                                          <div class="plan">
                                                              <h3 class="price">
                                                                  $999
                                                              </h3>
                                                              <p class="period">
                                                                  20% Discount on renewal
                                                              </p>
                                                          </div>
                                                          <div class="plan-info">
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Ad Visibility: 12 Months</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Number of Ads: 100</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <p>
                                                                  <strong>
                                                                      <i class="lni-check-box"></i> Featured Ads: 30</strong>
                                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                              </p>
                                                              <div class="button-area">
                                                                  <a href="#" class="btn btn-common btn-lg">
                                                                      Get Started Now
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                </div>
                              </div>
                          </div>
                          <!--/.Panel 7 -->
          </div> <!--./ container steps-tabs-content ends -->
        </div> <!--./ col-12 body ends -->
      </div>
        <div class="col-md-12 pagination p-0">
          <div><span class="errors" id="errorMessages">Application error : </span></div>
          <div class="botton-hold pt-3 parenthold text-right">
            <button type="button" id="previous" class="btn btn-secondary ml-0 my-0">Previous</button>
            <button type="button" id="next" class="btn btn-primary ml-0 my-0">Next</button>
            <input type="submit" id="finished" class="btn btn-primary my-0" value="Finish" />
          </div>
        </div>
    </div>  <!--./ parent-hold ends -->
  </form> <!--./ apartmentRegForm ends  -->